<!-- app/views/evaluations/_form.html.erb -->

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

<div class="well-tzippy">

  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Evaluation Application Info</h2>
  <br>


  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt class='required-field'>Evaluation App Name</dt>
      <dd><%= text_field_tag "evaluation[name]", @evaluation.name, :id => 'evaluation.name', :required => true %></dd>
    </dl>

    <dl class="offset2 span4 dl-horizontal">
      <dt  title="Inactive Evaluation apps do not show up when selecting an Eval app">Active Evaluation</dt>
      <dd title="Inactive Evaluation apps do not show up when selecting an Eval app">
          <%= check_box('evaluation', 'active') %>
      </dd >
    </dl>

  </div>

  <div class="row-fluid">
    <dl class="span8 dl">
      <dt>Eval App URL</dt>
            <span style="margin:-20px 0 0 120px;float:left"><em><small>(this is the URL to the evaluation application)</em></small></span>
      <dd><%= text_field_tag "evaluation[setup_url]", @evaluation.setup_url, :id => 'evaluation.setup_url', :class => 'input-xxlarge' %></dd>
    </dl>
  </div>

  <div class="row-fluid">
    <dl class="span8 dl">
      <dt>Eval Template URL</dt>
            <span style="margin:-20px 0 0 150px;float:left"><em><small>(this is the URL to a specific eval template in the evaluation applicaiton)</em></small></span>
      <dd><%= text_field_tag "evaluation[eval_template_url]", @evaluation.eval_template_url, :id => 'evaluation.eval_template_url', :class => 'input-xxlarge' %></dd>
    </dl>
  </div>

  <div class="row-fluid">
    <dl class="span10 dl">
      <dt>Eval URL Pattern</dt>
            <span style="margin:-20px 0 0 150px;float:left"><em><small>(this is a pattern for creating the URL that will take workshop participants directly to an evaluation)</em></small></span>
      <dd><%= text_field_tag "evaluation[eval_url_pattern]", @evaluation.eval_url_pattern, :id => 'evaluation.eval_url_pattern', :class => 'input-xxlarge' %></dd>
    </dl>
  </div>

  <div class="row-fluid">
    <dl class="span11 dl">
      <dt>URL to file showing the questions for this eval</dt>
            <span style="margin:-20px 0 0 350px;float:left"><em><small>(e.g., URL to a PDF file (open to public) that is a screenshot of the eval template)</em></small></span>
      <dd><%= text_field_tag "evaluation[eval_info_url]", @evaluation.eval_info_url, :id => 'evaluation.eval_info_url', :class => 'input-xxlarge' %></dd>
    </dl>
  </div>

  <span class="required-field required-field-note "></span>
  <br>
</div>

<%= render 'layouts/save_cancel' , :link_path => evaluations_path , :submit_text => 'Save' %>

<% end %>
