<!-- app/views/evaluations/edit.html.erb -->

<div class="data-content data-content-medium">
<%= render 'layouts/home_button' %>
<h1 class="manage-title">Edit Evaluation Application Info</h1>

<%= render 'form' %>
</div>
