<!-- app/views/evaluations/index.html.erb -->
<div class="data-content data-content-medium">
    <%= render 'layouts/home_button' %>
    <h1 class="manage-title">Evaluation Applications</h1>

  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to 'Add New Eval App', new_evaluation_path, :class => 'btn btn-link btn-small pull-right' %>
  </div>

  <ul id="evaluations-filters" class="nav nav-pills filter-list">
    <li class="pillbox-label">Filters: </li>
    <%= filter_button 'All',      'all',      'All evaluation systems' %>
    <%= filter_button 'Active',   'active',   'Only active evaluation systems', true %>
    <%= filter_button 'Inactive', 'archived', 'Only in-active evaluation systems'    %>
  </ul>

  <div class="well-tzippy">
    <table id="evaluations" class="table-striped datatable" data-source="<%= evaluations_url(format: "json") %>"
      summary="List of Evaluation definitions">
      <thead>
        <tr>
          <th data-col="name"         class="span4">Name</th>
          <th data-col="setup_url"    class="span5">Setup URL</th>
          <th data-col="active"       class="span2 active-label text-center">Active</th>
          <th data-col="action_links" class="span1 actions-label"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>


