<!-- app/views/evaluations/new.html.erb -->

<div class="data-content data-content-medium">
<%= render 'layouts/home_button' %>
<h1 class="manage-title">New Evaluation Application</h1>

<%= render 'form' %>
</div>
