<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @evaluation.name %>
</p>

<p>
  <b>Setup URL:</b>
  <%= @evaluation.setup_url %>
</p>

<p>
  <b>Active:</b>
  <%= @evaluation.active %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
