<!-- app/views/workshops/_add_comment.html.erb -->

<div class="row-fluid">
  <div class="span10">
    <div class="field">
      <%= label_tag "comment[subject]", "Subject" %>
      <%= text_field_tag "comment[subject]", nil, :class => 'subject input-xxlarge' %>
    </div>

    <div>
      <%= text_area_tag "comment[content]", nil, :cols => 80, :rows => 10, :class => 'content input-xxlarge' %>
    </div class="span6">
    <% if @recipients.present? %>
      <dl class="form-inline recipients">
        <dt>Send email to</dt>
        <% count = 1 %>
        <% @recipients.each do |recipient| %>
          <dd>
            <%= check_box_tag("email_recipients[]", recipient.user.id, recipient.checked, :id => "email_to_#{count}") %>
            <%= label_tag("email_to_#{count}", "#{recipient.user.display_name} (#{recipient.user.email_address}) #{recipient.role}") %>
          </dd>
          <% count = count + 1 %>
        <% end %>
      </dl>
    <% end %>

  </div>
</div>
