<!-- app/views/workshops/_attachments.html.erb -->

<aside>
  Please attach any documents that will help us understand your request - Syllabus, Assignment, etc.
</aside>

<% @workshop.attachments.each_index do |index| %>
  <% if @workshop.attachments[index].attached_file_file_name.nil? %>
    <div class="control-group attachment-item">
      <%= label_tag "attachment#{index}", 'Select a file', :class => 'attach_label', :class => "control-label" %>
      <div class="controls">
        <%= file_field "attachment[#{index}]", :attached_file, :id => "attachment#{index}", :style => 'width:450px' %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row-fluid">
  <div class="span6 offset1">
    <a href="#" id="add-attachment">Add Another Attachment</a>
  </div>
</div>
