<table class="row detail-popover" style="margin-bottom:10px">
  <tbody>
    <tr>
      <th class="span4">Title</th>
      <td class="span8"><%= workshop.title %></td>
    </tr>
    <tr>
      <th class="span4">Requested By</th>
      <td class="span8"><%= requester_user_name(workshop) %></td>
    </tr>
    <tr>
      <th class="span4">Expected Attendance</th>
      <td class="span8"><%= workshop.expected_attendance %></td>
    </tr>
    <tr>
      <%if workshop.scheduled_time.nil? || workshop.scheduled_time.start_time.nil? || workshop.scheduled_time.end_time.nil? %>
        <th>Requested Time(s)</th>
        <td><%= requested_times(workshop) %></td>
      <% else %>
        <th>Scheduled Time</th>
        <td><%= workshop.scheduled_time.display_short_d_long_m.html_safe %></td>
      <% end %>
    </tr>
    <tr>
      <th>Instructors</th>
      <td><%= instructor_list(workshop) %></td>
    </tr>
    <tr>
      <th>Topics</th>
      <td><%= topic_list(workshop) %></td>
    </tr>
    <tr>
      <th><strong>Attachments</strong> </th>
      <td>
        <% if workshop.attachments.present? %>
          <%= link_to workshop.attachments[0].attached_file_file_name, asset_path(workshop.attachments[0].attached_file.url) %>
          <span class="filesize"> <%= number_to_human_size(workshop.attachments[0].attached_file_file_size) %> </span>
          <% if workshop.attachments.length > 1 %> [<%= workshop.attachments.length %> Attachments] <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class="button_details">
    <div>
        <button class=" btn btn-mini btn-primary " type="button ">Close</button>
    </div>
</div>