<!-- app/views/workshops/_evaluation.html.erb -->
<div class="well-tzippy">
  <div class="row-fluid">
    <dl class="dl-horizontal">
      <dt>Links to Evaluation systems available</dt>
      <% @evaluations.each do |evaluation| %>
        <% unless evaluation.setup_url.nil? || evaluation.setup_url.empty? %>
            <dd>
            <%= link_to evaluation.name, evaluation.setup_url, :target => '_blank' %>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>

    <br>
    <div class="row-fluid">
        <span class=" span4">This workshop's Evaluation uses:</span>
        <span class="offset1 span4">Has the Evaluation been setup?</span>
    </div>
    <div class="row-fluid">
      <ul class="list radios span5 offset1" >
        <% @evaluations.each do |evaluation| %>
          <li >
            <% if @workshop.evaluation == evaluation %>
              <input class="eval-choice" type="radio" name="evaluation_id" data-url = <%= update_attribute_workshop_path(@workshop) %>
                     id='evaluations_evaluation_id_<%= evaluation.id %>' value='<%= evaluation.id %>' data-pk='<%= @workshop.id %>'
                     eval-name = '<%= evaluation.name %>' workshop-title = '<%= @workshop.title %>' checked checked='checked'
                     instructor = '<%= first_instructor(@workshop) %>' workshop-id = '<%= @workshop.id %>'
                     eval-url = '<%= evaluation.eval_template_url %>' starttime = '<%= @workshop.scheduled_time.data_start_time if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>' 
                     <% if @workshop.deleted %>disabled = 'disabled'<% end %> />

            <% else %>
              <input class="eval-choice" type="radio" name="evaluation_id" data-url = <%= update_attribute_workshop_path(@workshop) %>
                     eval-name = '<%= evaluation.name %>' id='evaluations_evaluation_id_<%= evaluation.id %>' data-pk='<%= @workshop.id %>'
                     workshop-title = '<%= @workshop.title %>' value='<%= evaluation.id %>'
                     instructor = '<%= first_instructor(@workshop) %>' workshop-id = '<%= @workshop.id %>'
                     eval-url = '<%= evaluation.eval_template_url %>' starttime = '<%= @workshop.scheduled_time.data_start_time if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>' 
                     <% if @workshop.deleted %>disabled = 'disabled'<% end %> />
            <% end %>
            <label type="radio" for="evaluations_evaluation_id_<%= evaluation.id %>"><%= evaluation.name %>
            <% if evaluation.eval_info_url.present? %>
              <%= link_to image_tag("info.png"), evaluation.eval_info_url , { title: "View the questions presented by this evaluation template"}%>
            <% end %>
            </label>
          </li>
        <% end %>
        <% unless @workshop.deleted %>
          <div style='display:none'>

            <input class="eval-choice"  type="radio" name="evaluation_id" data-url = <%= update_attribute_workshop_path(@workshop) %> id="evaluations_evaluation_id_0" value='' />
          </div>
          <label class='clear_choice' type="radio" for="evaluations_evaluation_id_0">clear choice</label>
        <% end %>

      </ul>

      <ul class="list radios">
        <li style="margin-left:60px">
          <input class="eval-setup" type="radio" name="evaluations[evaluation_setup]"
               id='eval_0' value=false data-url = <%= update_attribute_workshop_path(@workshop) %>
               <% if ! @workshop.evaluation_setup %>checked='checked' <% end %>
               <% if @workshop.deleted %>disabled = 'disabled'<% end %>
          />

          <label type="radio" for="eval_0">Evaluation is not yet setup</label>
        </li>
        <br>
        <li style="margin-left:60px">
          <input class="eval-setup" type="radio" name="evaluations[evaluation_setup]"
                 id='eval_1' value=true data-url = <%= update_attribute_workshop_path(@workshop) %>
                 <% if @workshop.evaluation_setup %>checked='checked' <% end %>
                 <% if @workshop.deleted %>disabled = 'disabled'<% end %>
          />
          <label type="radio" for="eval_1">Evaluation is setup or No Evaluation Needed</label>
        </li>
      </ul>

    </div>

    <div class='qualtrics_setup'
      <% if ! @workshop.evaluation.present? ||
            ! @workshop.evaluation.name.include?('Qualtrics')
      %> style="display:none" <% end %> >

      <span class="legend">Qualtrics specific setup</span>

      <dl class="dl-horizontal">
        <dt><label class="eval-label" for= "created-eval-url">Qualtrics URL to the eval for this session</label>
          <span class="eval-results-comment">(click on URL to select)</span>
          <span class="span2 text-right" > sid = L<%= @workshop.id %> </span>
          <% if @workshop.ttcid.present? %>
            <span class="span2 text-right"> TTC ID = <%= @workshop.ttcid %> </span>
          <% end %>
        <br>
        <dd>
          <input type='text' class="span12" id='created-eval-url'  value="<%= @workshop.full_eval_url %>"
              onClick=SelectText('#created-eval-url') />
        <dd>
      </dl>

      <dl class="dl-horizontal">
        <dt><label class='eval-label' for= 'short-eval-url'>Simplified Eval URL for Students</label>
          <span class='eval-results-comment'>(click on URL to select)</span>
          <% if can? :schedule, @workshop %>
            <%= link_to "eMail URL", "#", 'data-url' => new_workshop_comment_url(@workshop, :context => :evaluations),
                :class => "select-url respond-to-comment-btn" %>
          <% end %>
        </dt>
        <br>
        <dd>
          <input type='text' class='span12' id='short-eval-url' value='<%= short_url(@workshop.id.to_s(36)) %>'
            onClick=SelectText('#short-eval-url') />
        <dd>
      </dl>

      <dl class="dl">
        <dt>
          <%= label_tag "workshop[eval_results_url]", "Results URL for this Workshop", class: 'eval-label' %>

          <span class="eval-results-comment" >(the instructor will have a link to this url on their dashboard)</span>
        </dt>
        <dd>
          <% if @workshop.deleted %>
            <%= @workshop.eval_results_url %>
          <% else %>
            <%= text_field_tag "workshop[eval_results_url]", @workshop.eval_results_url,  :class => "eval_reports_url input-xxlarge" ,
            :placeholder => "the URL to the results copied from Qualtrics is pasted here", :value => @workshop.eval_results_url,
            'data-url' =>  update_attribute_workshop_path(@workshop), 'name' => 'eval_results_url', :style => "margin-bottom:0px"
            %>
          <% end %>
        </dd>
        <br>
        <% if @workshop.evaluation.present? && @workshop.evaluation.setup_url.present? %>
        <span id="eval-setup-comment">
          You can get this workshop's evaluation results URL by going to
          <a href = <%= @workshop.evaluation.setup_url %> target = '_blank' >
          <strong>Qualtrics</strong></a> and copying the URL
        </span>
        <% end %>
      </dl>
      <br>
    </div>


</div>
