<!-- app/views/workshops/_form.html.erb -->

<% if @workshop.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this workshop from being saved:</h2>

    <ul>
    <% @workshop.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="contact well-tzippy">
  <h2>Contact (Faculty/GSI)</h2>
  <aside>
    We need a contact in case questions arise about this request.  The default is to list the person filling out this form as the contact. If someone else should be the contact, enter that person's uniqname below.
  </aside>
  <div class="control-group">
    <%= label_tag "contact_uniqname", 'Uniqname', :class => 'required-field control-label' %>
    <aside class="accessibility-text">
      After entering the contact's uniqname you will be told the person's full name to verify that we have the right person.
    </aside>
    <div class="controls">
      <%= text_field_tag "contact[uniqname]", @workshop.try('contact_user').try('uniqname'), :placeholder => 'User ID', :class => 'input-small class-related', 'data-url' => users_uniqname_like_url, 'data-new-user-url' => users_url, :autocomplete => "off",  :required => true, :id => 'contact_uniqname' %>
      <div class="confirmation" style="display:inline; margin-left: 30px;">
        The contact is <strong class="contact-display-name"><%= @workshop.contact_user.display_name %></strong>
      </div>
      <button type="button" class="btn btn-link user-search" data-url="<%= users_search_form_path %>">Find by name</button>
    </div>
  </div>
</div>
<div class="session_info well-tzippy">
  <h2>Session Information</h2>
  <div class="control-group">
    <%= label_tag 'class-related', "Class-Related Session", :class => 'control-label'  %>
    <div class="controls">
      <aside class="accessibility-text">Meaning that this session is for a class offered by U of M.  If the session is related to a class, you will be asked to identify the class by subject, course number and section number.</aside>
      <%= check_box "workshop", "class_related", :id => 'class-related', :class => 'class-related' %>
      <aside class="skip" style="display:inline;" aria-hidden="true">This session is for a class offered by UM</aside>
    </div>
  </div>
  <fieldset class="course-info">
    <legend style='display:none'>Class Details</legend>
    <div class="row-fluid" style="margin-left:-10px">
      <div class="span4" >
        <div class="control-group">
          <%= label_tag "class-details-subject", "Subject", :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag "workshop[subject]", @workshop.subject,  :placeholder => 'e.g. ENGLISH', :class => 'input-medium class-details', :id => 'class-details-subject', :autocomplete => "off", :required => true, :title => 'Subject (e.g. ENGLISH)'  %>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="control-group">
          <%= label_tag "class-details-course", "Course Number", :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag "workshop[course]", @workshop.course,  :placeholder => 'e.g. 125', :class => 'input-small class-details', :id => 'class-details-course', :autocomplete => "off", :required => true, :title => 'Course Number (e.g. 125)' %>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="control-group">
          <%= label_tag "class-details-section", "Section Number", :class => "control-label"  %>
          <div class="controls">
            <%= text_field_tag "workshop[section]", @workshop.section,  :placeholder => 'e.g. 001', :class => 'input-medium class-details', :id => 'class-details-section', :autocomplete => "off", :required => true, :title => 'Section Number (e.g. 001)'  %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="control-group">
    <%= label_tag "workshop_title", "Workshop Title", :class => "control-label required-field" %>
    <div class="controls">
      <%= text_field_tag "workshop[title]", @workshop.title, :id => 'workshop_title', :required => true, :id => 'workshop_title' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag "workshop_expected_attendance", 'Class size', :class => "control-label required-field" %>
    <div class="controls">
      <%= number_field_tag "workshop[expected_attendance]", @workshop.expected_attendance ,  :class => 'input-mini expected-attendance', :id => 'workshop_expected_attendance', :required => true %>
    </div>
  </div>
</div>

<div class="accordion well-tzippy" id="topics-accordion">
  <div class="accordion-group">
    <div class="accordion-heading" aria-hidden="true">
                <% if (@workshop.nil? || @workshop.topics.nil?) then topics_count = 0 else topics_count = @workshop.topics.count end %>
      <span class="topics-count"><%= topics_count %></span> <span> <%= "topic".pluralize(topics_count) %> selected.
      </span>
      <span class="topics-info" style="display: inline; font-style:italic;font-size:small">
        Please select at least one topic, or describe the topics to be covered in the Additional Information section below.
      </span>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#topics-accordion" href="#topic-picker">
        <h2> <div class="show_topics_selection">
          Show Topics for Selection
        </div></h2>
      </a>

    </div>
    <div id="topic-picker" class="topic-picker accordion-body collapse">
      <h2>Topics</h2>
      <aside class="accessibility-text">
        Please select at least one topic, or describe the topics to be covered in the Additional Information section below. This list of topics is grouped into <%=  @topic_categories.count %> <%= "category".pluralize(@topic_categories.count) %>.
      </aside>
      <% @topic_categories.each_index do |i| %>
        <% category = @topic_categories[i] %>
        <% unless category.topics.blank? %>
          <!-- Category <%= (i + 1) %> -->
          <h3 class='topic-category'>
            <%= category.name %> (<%= category.topics.count %> topics)
          </h3>
          <% category.topics.where(:active => true).order(:title).each do |topic| %>
            <% selected = false %>
            <% unless ( @workshop.nil? || @workshop.topics.empty? ) then selected = @workshop.topics.include?(topic) end %>
            <div class="topic row-fluid">
              <div class="span9 offset1">
                <%= label_tag "t_#{topic.id}_a", "#{topic.title}", :style => 'display:inline;margin-top:-5px;' %>
                <%= check_box_tag "topics[]", topic.id , selected, :class => "topic any-topic", :id => "t_#{topic.id}_a", :style => "float:left; margin-right: 20px;margin-top:5px;" %>
                <button type="button" class="btn btn-link topic_more_less" data-toggle="collapse" data-target="#topic_<%= topic.id %>">more info</button>
                <div id="topic_<%= topic.id %>" class="collapse topic-description">
                  <%= topic.description %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <br />
    </div>
  </div>
</div>


<div class="requested-dates-div well-tzippy">
  <h2>Requested Dates</h2>
  <% @workshop.requested_times.each_index do |index| %>
    <fieldset class="requested-date">
      <legend>
        <% if index < 1 %>Requested Date<% else %>Alternate Date<% end %>
      </legend>
      <div class="row-fluid form-inline">
        <%= fields_for "requested_times[#{index}]", @workshop.requested_times[index] do |rd| %>
          <div class="span3">
            <%= rd.label :day, :class => 'required-field reqtime-label'%>
            <div class="reqtime-day-input" style='display:inline;'>
              <%= rd.text_field :day, :value => (@workshop.requested_times[index].start_time.nil? ? "" : "#{@workshop.requested_times[index].time_range.data_day}"), :class => 'day input-small', :required => true, 'data-format' => "yyyy-MM-dd", :type => 'text' %>
              <span class="add-on" style="padding:0">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          </div>
          <div class="span3">
            <%= rd.label :time0, "Start time", :class => 'required-field', :style => 'display:inline;'  %>
            <div class="reqtime-start-input" style='display:inline;'>
              <%= rd.text_field :time0, :value => (@workshop.requested_times[index].start_time.nil? ? "09:00 am" : "#{@workshop.requested_times[index].time_range.data_time0}"), :class => 'time0 input-small', :required => true, 'data-format' => "HH:mm PP", :type => 'text' %>
              <span class="add-on" style="padding:0">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          </div>
          <div class="span3">
            <%= rd.label :time1, "End time", :class => 'required-field', :style => 'display:inline;'  %>
            <div class="reqtime-end-input" style='display:inline;'>
              <%= rd.text_field :time1, :value => (@workshop.requested_times[index].end_time.nil? ? "10:00 am" : "#{@workshop.requested_times[index].time_range.data_time1}"), :class => 'time1 input-small', :required => true, 'data-format' => "HH:mm PP", :type => 'text' %>
              <span class="add-on" style="padding:0">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          </div>
          <div class="span1">
            <a href="#" class="remove-requested-time" data-requested-times-id="<%= @workshop.requested_times[index].id %>"  hidden = true >
              <%= image_tag "delete_16.png", :alt => "Remove the requested-time in this row from this workshop", :class => 'remove-req-time' %>
            </a>
          </div>
          <%= rd.hidden_field('persisted?', :class => "persisted") %>
        </div>
      <% end %>
    </fieldset>
  <% end %>
  <div class="row-fluid add-alt-date-div" >
     <div id="add-alt-time-div">
      <a href="#" id="add-alt-time">Add alternate date</a>
    </div>
  </div>
<!--       <% if allow_split_on_request_times %> -->
    <div class="row-fluid one-workshop-per-requested-time" style="display:none;margin:10px 0 0 30px" id = 'one-workshop-per-requested-time'>
      <div class="span8">
        <%= label_tag "ws-per-time-checkbox", "Duplicate this request, scheduling one session for each requested time", :style => "display: inline;" %>
        <%= check_box_tag "one-workshop-per-requested-time", "one-workshop-per-requested-time", false, :id => 'ws-per-time-checkbox', :style => "float:left; margin-right: 20px" %>
      </div>
    </div>
<!--       <% end %> -->
</div>
<div class="attachments well-tzippy">
  <h2>Attachments</h2>
  <aside>
    Please attach any documents that will help us understand your request - Syllabus, Assignment, etc.
  </aside>
  <% @workshop.attachments.each_index do |index| %>
    <% if @workshop.attachments[index].attached_file_file_name.nil? %>
      <div class="control-group attachment-new">
        <%= label_tag "attachment#{index}", 'Select a file', :class => 'attach_label control-label' %>
        <div class="controls">
          <%= file_field "attachment[#{index}]", :attached_file, :id => "attachment#{index}", :style => 'width:450px' %>
        </div>
      </div>
    <% else %>
      <div class="attachment-exists">
        <span class="attached-file"><%= link_to @workshop.attachments[index].attached_file.original_filename, asset_path(@workshop.attachments[index].attached_file.url) %></span><span class="filesize">
        <%= number_to_human_size(@workshop.attachments[index].attached_file.size) %></span>
      </div>
    <% end %>
  <% end %>
  <div class="row-fluid" id="add-attachment-div">
    <div class="span6 offset1">
      <a href="#" id="add-attachment">Add Another Attachment</a>
    </div>
  </div>
</div>

<!-- Intention: show this to instructors but not requesters -->
<% if can? :create, Statistics %>
  <div class="scheduling well-tzippy">
    <h2>Instructor Scheduling Options</h2>
    <aside style="margin:-30px 0 10px 250px" > (These optional inputs are for Instructors / Schedulers only - Faculty / GSI requesters will not see them)</aside>
    <div class="control-group" style="margin-left:-45px">
      <%= label_tag "session_type", 'Session Type', :class => "control-label" %>
      <div class="controls">
        <%= select_tag "session_type", options_from_collection_for_select(@session_types, :id, :name, @workshop.try(:session_type).try(:id)) %>
      </div>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span8 offset1">
        <%= label_tag 'library_location_required', 'Library Room Needed', :style => 'display:inline;' %>
        <%= check_box 'workshop', 'library_location_required', :style => "float:left; margin-right: 20px" %>
        <aside style="margin:-20px 0 0 200px" >Check if the room to be used is one which schedulers will arrange</aside>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8 offset1">
        <%= label_tag 'req_form_claim', 'Claim this Session', :style => 'display:inline;' %>
        <%= check_box_tag 'req_form_claim', "1", false, :id => 'req_form_claim', :style => "float:left; margin-right: 20px" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8 offset1">
        <%= label_tag 'use_req_time_as_sched_time', 'Check here for entering statistics only', :style => 'display:inline;' %>
        <%= check_box_tag 'use_req_time_as_sched_time', true, false, :id => 'use_req_time_as_sched_time',
          :checked => @workshop.scheduled_time_start_time, :style => "float:left; margin-right: 20px" %>
          <small><em>(sets scheduled time = requested time so you can enter stats)</em></small>
      </div>
    </div>

    <fieldset style='margin-left:0px'>
      <legend style="margin-left: 20px;font-weight:bold">Evaluations</legend>
      <aside style="margin:-25px 0 10px 180px">What kind of evaluation should be used for this session?</aside>
      <div>
        <%= label_tag 'evaluation_setup', 'Evaluation Not Needed', :style => 'display:inline;margin-left: 550px' %>
        <%= check_box 'workshop', 'evaluation_setup', :style => "margin-left:-200px" %>
      </div>
      <% @evaluations.each do |evaluation| %>
        <div class="row-fluid" style="margin-top:-30px">
          <div class="span8 offset1">
            <label for="eval_evaluation_id_<%= evaluation.id %>" style='display:inline;'><%= evaluation.name %></label>
              <% if evaluation.eval_info_url.present? %>
                <%= link_to image_tag("info.png"), evaluation.eval_info_url , { title: "View the questions presented by this evaluation template"}%>
              <% end %>

            <input type="radio" name="evaluation_id" data-eval-name='<%= evaluation.name %>' value='<%= evaluation.id %>' id='eval_evaluation_id_<%= evaluation.id %>' <% if @workshop.evaluation == evaluation %> checked='checked' <% end %> style="float:left; margin-right: 20px">
          </div>
        </div>
      <% end %>
      <div class="row-fluid">
        <div class="span8 offset1">
          <label for="eval_evaluation_id_0" class="clear_choice" style='display:inline;'>Clear choice</label>
          <input type="radio" name="evaluation_id" value='0' id='eval_evaluation_id_0' style="float:left; margin-right: 20px;display:none" >
        </div>
      </div>
    </fieldset>
  </div>
<% end %>

<div class="notes well-tzippy">
  <h2>Questions or Additional Information</h2>
  <aside>
    If you would like to customize your session, request a specific room, or ask questions about the session, please give details here. We will contact you soon.

    <!-- Intention: show this to instructors but not requesters -->
    <% if can? :create, Statistics %>
      <strong> Library instructors:</strong> if you prefer a particular room or need help with the technology, please note that below. If this session will need registration, please include the session's description in the space below.
    <% end %>
  </aside>
  <div style="margin-left:5%">
    <%= label_tag 'workshop_notes', "Questions or Additional Information", :class => "accessibility-text" %>
    <%= text_area_tag "workshop[notes]", @workshop.notes, :class => 'input-xxlarge', :id => 'workshop_notes', :rows => 5 %>
  </div>
</div>
