  <span class='info-banner'>
    <span style="margin:10px;"><%= @workshop.title %></span>
    |
    <span class="scheduled-time" style="margin:10px;">
      <% if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>
        <%= @workshop.scheduled_time.display_time_range.html_safe %>
      <% else %>
        Not scheduled yet
      <% end %>
    </span>
    |
    <span class="contact-user-info" style="margin:10px;"><%= @workshop.try(:contact_user).try(:firstname) %> <%= @workshop.try(:contact_user).try(:lastname) %> (<%= @workshop.try(:contact_user).try(:uniqname) %>)</span>
  </span>