<!-- app/views/workshops/_instructor.html.erb -->

<div class="well-tzippy">

  <% unless @have_google_access  %>
    <br>
    <p class="calendar-msg offset1"><em><strong>Note - You must first</strong></em> Grant Calendar Access <em>
      <strong> in order to schedule an Instructor</strong></em></p>
  <% end %>

  <%= render 'requested_dates', :omit_rooms => true, :omit_instructors => false, :omit_choose_time => false %>

  <div class="show-scheduled-time row-fluid">
    <dl class="span12 dl-horizontal">
      <dt>Scheduled Time</dt>
      <dd class="button-base row">
        <span class="scheduled-time span7">
          <% if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>
            <%= @workshop.scheduled_time.display_time_range.html_safe %>
          <% else %>
            Not scheduled yet
          <% end %>
        </span>
        <% if can?(:schedule, @workshop) && @have_google_access %>
          <% unless @workshop.deleted %>

            <span class="check-instructors-div" <% unless @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>style="display:none" <% end %>>
              <span style="display:none;" class="choose-start-time scheduled-start-time"><%= @workshop.scheduled_time.start_time.try('as_json') %></span>
              <span style="display:none;" class="choose-duration-minutes scheduled-duration-minutes"><%= @workshop.scheduled_time.duration_minutes.to_i %></span>
              <span class="check-instructors-span" style="width:95px;margin-left:0px">
                <button class="check-instructors btn btn-mini captxt" role="button" data-action="<%= calendars_find_instructors_url %>" data-day="<%= @workshop.scheduled_time.data_day if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>" data-time0="<%= @workshop.scheduled_time.data_time0 if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>" data-time1="<%= @workshop.scheduled_time.data_time1 if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>" data-workshop-id="<%= @workshop.id %>" >INSTRUCTORS</button>
              </span> 
            </span>
            <span>
              <button href="#" role="button" class="revise-scheduled-time btn btn-mini">REVISE TIME</button>
            </span>
          <% end %>
        <% end %>
      </dd>
    </dl>
    <% if can?(:schedule, @workshop) && @have_google_access %>
      <% unless @workshop.deleted %>
        <dl class="revise-scheduled-time-div span11 dl-horizontal" style="display:none;">
          <dt>&nbsp;</dt>
          <dd class="well"> 
            <%= form_tag update_attribute_workshop_url(@workshop), :method => 'put' do %>
              <div class="scheduled-time-day-input input-append">
                <%= label_tag 'scheduled_time[day]', 'Day', :class => 'required-field'  %>
                <%= text_field_tag 'scheduled_time[day]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_day : TimeRange.default_data_day), 'data-format' => "yyyy-MM-dd", :type => 'text', :class => 'day scheduled-time-day-field input-medium required-field', :required => true %>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
              <div class="scheduled-time-time0-input input-append">
                <%= label_tag 'scheduled_time[time0]', 'Start time', :class => 'required-field'  %>
                <%= text_field_tag 'scheduled_time[time0]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_time0 : TimeRange.default_data_time0), 'data-format' => "HH:mm PP", :type => 'text', :class => 'time0 scheduled-time-time0-field input-medium required-field', :required => true %>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
              <div class="scheduled-time-time1-input input-append">
                <%= label_tag 'scheduled_time[time1]', 'End time', :class => 'required-field'  %>
                <%= text_field_tag 'scheduled_time[time1]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_time1 : TimeRange.default_data_time1), 'data-format' => "HH:mm PP", :type => 'text', :class => 'time1 scheduled-time-time1-field input-medium required-field', :required => true %>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            <% end %>
            <div>
              <a href="#" role="button" class="save-scheduled-time-changes btn btn-mini">SAVE</a>
              <a href="#" role="button" class="cancel-scheduled-time-changes btn btn-mini">CANCEL</a>
            </div>
          </dd>
        </dl> 
      <% end %>     
    <% end %>
  </div>

  <!--
    has_many :instructor_assignments, :order => '"order"'
    has_many :instructors, :through => :instructor_assignments, :source => :user, :order => '"instructor_assignments"."order"'
    -->

  <div class="row-fluid">
    <dl class="span11 dl-horizontal" id="instructor-list">
      <dt class="show-instructors"><%= 'Instructor'.pluralize(@workshop.instructors.count) %></dt>

      <% @workshop.instructor_assignments.each do |instructor_assignment| %>
        <dd class="show-instructors">
          <span class="instructor-displayname"><%= instructor_assignment.user.display_name %></span>
          (<%= instructor_assignment.user.uniqname %>)
          <% unless @workshop.deleted %>

            <%= link_to image_tag('delete_16.png', :alt => "Remove the instructor in this row from this workshop"), "#", 'data-instructor-id' => instructor_assignment.user.id, 'data-url' => workshop_instructor_assignment_url(@workshop, instructor_assignment), :class => "remove-instructor", :title => "Remove the instructor in this row from this workshop" %>
          <% end %>
        </dd>
      <% end %>
    </dl>
  </div>

  <% unless @workshop.deleted %>
    <div class="row-fluid">
      <dl class="span11 dl-horizontal">
        <dt><label for="instructor-uniqname">Add Instructor</label></dt>
        <dd>
          <form>
            <input name="instructor_uniqname" id="instructor-uniqname" type="text" autocomplete="off" />
            <small><em>(Enter uniqname)</em></small>
          </form>
        </dd>
      </dl>
    </div>
    <%= link_to '', workshop_instructor_assignments_url(@workshop), :id => 'workshop_instructor_assignments_url' %>
  <% end %>
  <div style="background-color:#FFFAAE">
    <div class="row-fluid">
      <div id="available-instructors-div" style="display:none;" class="span10 offset1">
      </div>
    </div>
  </div>

  <div id="instructor-calendar-container" style="background-color:#FFF28E">
    <h4 id="instructor-calendar-head" tabindex="-1"></h4>
    <div id="instructor-calendar"></div>
  </div>
</div>
