<!-- app/views/workshops/_registration.html.erb -->

<div class='well-tzippy reg-well' >
  <em><small>If a registration system will be used for this workshop, please indicate which
  system below, and confirm that it has been setup so we can track progress.</small></em>
  <div class="row-fluid">
    <dl class="dl-horizontal">
      <dt>Registration systems available</dt>
      <% @registrations.each do |registration| %>
        <% unless registration.setup_url.nil? || registration.setup_url.empty? %>
          <dd>
            <%= link_to registration.name, registration.setup_url, :target => '_blank' %>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>
  <%= form_tag update_attribute_workshop_url(@workshop), :method => 'put', :id => 'registration_setup_form' do %>
  <br>

  <div class="row-fluid">
      <span class="span4">This workshop Registered via:</span>
      <span>Registration setup?</span>
  </div>

  <div class="row-fluid">
    <ul class="list radios offset1" >
      <% @registrations.each do |registration| %>
        <li style="margin-left:40px;margin-bottom:10px">
          <% if @workshop.registration == registration %>
            <input class="registration-choice" type="radio" name="registration_id" data-url = <%= update_attribute_workshop_path(@workshop)%>
                   id="registrations_registration_id_<%= registration.id %>" value="<%= registration.id %>" data-pk = <%= @workshop.id %>
                   checked checked='checked' <% if @workshop.deleted %>disabled='disabled'<% end %> />
          <% else %>
            <input class="registration-choice" type="radio" name="registration_id" data-url = <%= update_attribute_workshop_path(@workshop) %>
                   id="registrations_registration_id_<%= registration.id %>" value="<%= registration.id %>" data-pk = <%= @workshop.id %> <% if @workshop.deleted %>disabled='disabled'<% end %> />
          <% end %>
          <label type="radio" for="registrations_registration_id_<%= registration.id %>"><%= registration.name %></label>
        </li>
      <% end %>
      <% unless @workshop.deleted %>
        <div style='display:none'>
          <input class="registration-choice"  type="radio" name="registration_id" data-url = <%= update_attribute_workshop_path(@workshop) %>
                id="registrations_registration_id_0" value=''
          />
        </div>
        <label class='clear_choice' style='font-color:red' type="radio" for="registrations_registration_id_0">clear choice</label>
      <% end %>
    </ul>

    <ul class="list radios">
      <li style="margin-left:60px">
        <input class="registration-setup" type="radio" name="registration_setup" data-url = <%= update_attribute_workshop_path(@workshop) %>
               id='regis_0' value=false  data-pk = <%= @workshop.id %>
               <% unless @workshop.registration_setup? %>checked='checked' <% end %> <% if @workshop.deleted %>disabled='disabled'<% end %> />

        <label type="radio" for="regis_0">Registration is not setup</label>
      </li>
      <br>
      <li style="margin-left:60px">
        <input class="registration-setup" type="radio" name="registration_setup" data-url = <%= update_attribute_workshop_path(@workshop) %>
               id='regis_1' value=true data-pk = <%= @workshop.id %>
               <% if @workshop.registration_setup? %>checked='checked' <% end %> <% if @workshop.deleted %>disabled='disabled'<% end %> />
        <label type="radio" for="regis_1">Registration is setup or Registration Not Needed</label>
      </li>
    </ul>
    </div>

    <div class="row-fluid dl-horizontal">
      <dt><%= label_tag 'ttcid', 'TTC ID' %></dt>
      <dd><input class="ttcid input-mini" type="number" id ="ttcid" value="<%= @workshop.ttcid %>" data-url= <%= update_attribute_workshop_path(@workshop) %>  name='ttcid' data-pk = <%= @workshop.id %> <% if @workshop.deleted %>disabled='disabled'<% end %> />
      </dd>
    </div>

  <% end %>

</div>
