<div class="row-fluid">
  <dl class="span12 dl-horizontal">
    <dt><%= 'Requested Time'.pluralize(@workshop.requested_times.count) %></dt>
    <% if @workshop.requested_times.nil? || @workshop.requested_times.empty? %>
      <dd>None</dd>
    <% else %>
      <% @workshop.requested_times.each do |rt| %>
      <dd class="button-base row">
        <span class="span7">
          <%= rt.time_range.display_time_range.html_safe %>
        </span>
        <% if can?( :schedule, @workshop ) && @have_google_access && (! @workshop.deleted) %>
          <span >
            <% unless omit_rooms %>
              <span >
                <button class="check-rooms btn btn-mini" type="button" data-action="<%= calendars_find_rooms_path %>" data-day="<%= rt.time_range.data_day %>" data-time0="<%= rt.time_range.data_time0 %>" data-time1="<%= rt.time_range.data_time1 %>" data-workshop-id="<%= @workshop.id %>">ROOMS</button>
              </span>
            <% end %>
            <% unless omit_instructors %>
              <span >
                <button class="check-instructors btn btn-mini" type="button" data-action="<%= calendars_find_instructors_path %>" data-workshop-id="<%= @workshop.id %>" data-day="<%= rt.time_range.data_day %>" data-time0="<%= rt.time_range.data_time0 %>" data-time1="<%= rt.time_range.data_time1 %>" data-workshop-id="<%= @workshop.id %>">INSTRUCTORS</button>
              </span>
            <% end %>
            <% unless omit_choose_time %>
              <span >
                <button class="choose-time btn btn-mini" type="button" data-action="<%= update_attribute_workshop_url(@workshop) %>" data-day="<%= rt.time_range.data_day %>" data-time0="<%= rt.time_range.data_time0 %>" data-time1="<%= rt.time_range.data_time1 %>">CHOOSE</button>
              </span>
            <% end %>
          </span>
          <% if rt.time_range.present? && rt.time_range.valid? %>
            <span style="display:none;" class="choose-duration-minutes"><%= rt.time_range.duration_minutes %></span>
            <span style="display:none;" class="choose-start-time"><%= rt.time_range.start_time.try('as_json') %></span>
            <span style="display:none;" class="choose-end-time"><%= rt.time_range.end_time.as_json %></span>
          <% else %>
            <span style="display:none;" class="choose-duration-minutes"></span>
            <span style="display:none;" class="choose-start-time"></span>
            <span style="display:none;" class="choose-end-time"></span>
          <% end %>
        <% end %>
      </dd>
       <% end %>
    <% end %>
  </dl>
</div>
