<!-- app/views/workshops/_review.html.erb -->
<div class="well-tzippy">
  <span class="legend">Contact Information</span>

  <div class="row-fluid">
    <dl class="span6 dl-horizontal">
      <dt>Contact</dt>
      <dd id="contact-user-fullname"><%= contact_user_name(@workshop) %></dd>
    </dl>
    <dl class="span6 dl-horizontal">
      <dt>Contact's uniqname</dt>
      <dd>
        <% if (can? :update, @workshop) && (! @workshop.deleted) %>
          <a href="#" id="contact-user-uniqname" data-type="text" data-pk="<%= @workshop.id %>" data-value="<%= contact_user_uniqname(@workshop) %>"  class="editable editable-click" data-inputclass="input-large" data-url="<%= contact_user_workshop_url(@workshop) %>" data-users-url="<%= users_uniqname_like_url %>" data-new-user-url="<%= users_url %>" >
            <%= contact_user_uniqname(@workshop) %>
          </a>
        <% else %>
          <%= @workshop.contact_user.uniqname %>
        <% end %>
        <% if (can? :schedule, @workshop) %>
          <% unless @workshop.contact_user.nil? || @workshop.contact_user.uniqname.empty? %>
            <div class="btn-group">
              <%= link_to "EMAIL", "#", 'data-url' => new_workshop_comment_url(@workshop, :context => :contacts), :class => "btn btn-small respond-to-comment-btn" %>
            </div>
          <% end %>
        <% end %>
      </dd>
    </dl>
  </div>

  <div class="row-fluid">
      <span class="offset2 span6"><small><em>This workshop was requested by </em> <%= requester_user_name(@workshop) %>
            ( <em><%= @workshop.try(:requested_by).try(:uniqname) %> </em>) </small></span>
  </div>

</div>

<div class="well-tzippy">

  <span class="legend">Session Information</span>

  <div class="row-fluid">
    <dl class="span11 dl-horizontal">
      <dt>Workshop Title</dt>
      <% if (can? :update, @workshop) && (! @workshop.deleted) %>
        <dd>
          <%= link_to @workshop.title, '#', 'id' => 'ws-update-title', 'data-name' => 'title', 'data-type' => 'text', 'data-pk' => @workshop.id, 'data-url' => update_attribute_workshop_url(@workshop), 'data-inputclass' => 'input-large', 'data-emptytext' => 'Unknown', 'class' => 'ws_editable'  %>
        </dd>
      <% else %>
        <dd><%= @workshop.title %></dd>
      <% end %>
    </dl>
  </div>
  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt><%= label_tag 'class_related', 'UM Class Related?' %></dt>
      <dd>
        <% if (can? :update, @workshop) && (! @workshop.deleted) %>
          <%= check_box_tag "class_related", true, @workshop.class_related, :class => "class-related", :id => "class_related", 'data-pk' => @workshop.id,
          'data-url' => update_attribute_workshop_url(@workshop) %></dd>
        <% end %>
    </dl>
    <dl class="span6 dl-horizontal course-info"<% unless @workshop.class_related %> style="display:none;"<% end %>>
      <dt>Course</dt>
      <dd>
        <% if (can? :update, @workshop) && (! @workshop.deleted) %>
          <%= link_to @workshop.subject, '', 'id' => 'workshop_subject', 'data-name' => 'subject', 'data-emptytext' => 'Subject', 'data-type' => 'text', 'data-pk' => @workshop.id, 'data-url' => update_attribute_workshop_url(@workshop), 'class' => 'ws_editable_typeahead',
           'data-value-key' => 'name', 'data-typeahead-url' => workshops_subjects_like_url %>
          <%= link_to @workshop.course, '', 'id' => 'workshop_course', 'data-name' => 'course', 'data-emptytext' => 'Course','data-type' => 'text', 'data-pk' => @workshop.id, 'data-url' => update_attribute_workshop_url(@workshop), 'class' => 'ws_editable', 'placeholder' => 'Course' %>
          <%= link_to @workshop.section, '', 'id' => 'workshop_section', 'data-name' => 'section', 'data-emptytext' => 'Section','data-type' => 'text', 'data-pk' => @workshop.id, 'data-url' => update_attribute_workshop_url(@workshop), 'class' => 'ws_editable' %>
        <% else %>
          <%= @workshop.subject %>
          <%= @workshop.course %>
          <%= @workshop.section %>
        <% end %>
      </dd>
    </dl>
  </div>

  <% if (can? :schedule, @workshop) && (! @workshop.deleted) %>
    <div class="row-fluid">
        <dl class="span6 dl-horizontal">
          <dt>Session Type</dt>
          <dd>
            <a href="#" id="ws_session_type" data-pk="<%= @workshop.id %>" data-type="select" data-url="<%= session_type_workshop_path(@workshop) %>" data-source="<%= workshops_session_types_path %>"  data-value="<%= @workshop.try('session_type').try('id') %>" data-inputclass="input-xlarge" ></a>
          </dd>
        </dl>
    </div>
   <% end %>
  <div class="row-fluid">
    <dl class="span11 dl-horizontal">
      <% if @workshop.class_related %>
        <dt>Expected Class Size</dt>
      <% else %>
        <dt>Expected Attendance</dt>
      <% end %>
      <% if (can? :update, @workshop) && (! @workshop.deleted) %>
        <dd>
          <%= link_to @workshop.expected_attendance.to_s, '#', 'id' => 'ws-update-attendance', 'data-name' => 'expected_attendance', 'data-type' => 'text', 'data-pk' => @workshop.id, 'data-url' => update_attribute_workshop_url(@workshop), 'data-inputclass' => "input-mini", 'data-emptytext' => 'Unknown', 'class' => 'ws_editable', :placeholder => 'Unknown' %>
        </dd>
      <% else %>
        <dd><%= @workshop.expected_attendance  %></dd>
      <% end %>
    </dl>
  </div>

  <%= render 'requested_dates', :omit_rooms => true, :omit_instructors => true , :omit_choose_time => false %>

  <div class="show-scheduled-time row-fluid">
    <dl class="span12 dl-horizontal">
      <dt>Scheduled Time</dt>
      <dd class="button-base row">
        <span class="scheduled-time span7">
          <% if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>
            <%= @workshop.scheduled_time.display_time_range.html_safe %>
          <% else %>
            Not scheduled yet
          <% end %>
        </span>
        <% if can?(:update, @workshop) && @have_google_access && (! @workshop.deleted) %>
          <span >
            <button href="#" role="button" class="revise-scheduled-time btn btn-mini" >REVISE</button>
          </span>
        <% end %>
      </dd>
    </dl>
    <% if can?( :update, @workshop ) && @have_google_access && (! @workshop.deleted) %>
      <dl class="revise-scheduled-time-div span11 dl-horizontal" style="display:none;">
        <dt>&nbsp;</dt>
        <dd class="well">
          <%= form_tag update_attribute_workshop_url(@workshop), :method => 'put' do %>
            <div class="scheduled-time-day-input input-append">
              <%= label_tag 'scheduled_time[day]', 'Day', :class => 'required-field'  %>
              <%= text_field_tag 'scheduled_time[day]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_day : TimeRange.default_data_day), 'data-format' => "yyyy-MM-dd", :type => 'text', :class => 'day scheduled-time-day-field input-medium required-field', :required => true %>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
            <div class="scheduled-time-time0-input input-append">
              <%= label_tag 'scheduled_time[time0]', 'Start time', :class => 'required-field'  %>
              <%= text_field_tag 'scheduled_time[time0]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_time0 : TimeRange.default_data_time0), 'data-format' => "HH:mm PP", :type => 'text', :class => 'time0 scheduled-time-time0-field input-medium required-field', :required => true %>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
            <div class="scheduled-time-time1-input input-append">
              <%= label_tag 'scheduled_time[time1]', 'End time', :class => 'required-field'  %>
              <%= text_field_tag 'scheduled_time[time1]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_time1 : TimeRange.default_data_time1), 'data-format' => "HH:mm PP", :type => 'text', :class => 'time1 scheduled-time-time1-field input-medium required-field', :required => true %>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          <% end %>
          <div>
            <a href="#" role="button" class="save-scheduled-time-changes btn btn-mini">SAVE</a>
            <a href="#" role="button" class="cancel-scheduled-time-changes btn btn-mini">CANCEL</a>
          </div>
        </dd>
      </dl>
    <% end %>
  </div>

  <div class="row-fluid">
    <dl class="span11 dl-horizontal">
      <dt><%= 'Session Topic'.pluralize(@workshop.topics.count) %></dt>
      <% if (can? :update, @workshop) && (! @workshop.deleted) %>
        <dd>
          <%= link_to topic_list(@workshop), "#", 'data-type' => 'checklist', 'data-url' => update_attribute_workshop_url(@workshop), 'data-pk' => @workshop.id, 'data-name' => 'topics', 'data-value' => topic_id_list(@workshop), 'data-source' => "#{topics_xeditable_list_url}.json", "data-mode" => 'inline',:id => 'update_topics_link', :class => 'ws_editable' %>
        </dd>
      <% else %>
        <% @workshop.topics.each do |topic| %>
          <dd><%= topic.title %></dd>
        <% end %>
      <% end %>
    </dl>
  </div>
  <div class="row-fluid">
    <dl class="span11 dl-horizontal">
      <dt>Questions or Additional Information</dt>
      <dd >
        <% unless @workshop.notes.blank? %> 
          <%= space_out_linebreaks @workshop.notes %> 
        <% else %>
           <span class='none'>None</span>
        <% end %> 
      </dd>
    </dl>
  </div>

  <% if can? :schedule, @workshop %>
    <div class="row-fluid">
      <dl class="span11 dl-horizontal">
        <dt>Schedulers' Notes</dt>
        <dd class="well well-small">
          <%= link_to space_out_linebreaks(@workshop.scheduler_notes), 'scheduler-notes', 'data-rows' => 20, 'id' => 'ws_scheduler_notes', 'data-name' => 'scheduler_notes', 'data-url' => update_attribute_workshop_url(@workshop), 'data-type' => 'textarea', 'data-pk' => @workshop.id, 'data-inputclass' => 'input-xxlarge', 'data-emptytext' => 'Notes' %>
        </dd>
      </dl>
    </div>
  <% end %>
  <!-- attachments go here  -->
  <div class="row-fluid">
    <dl class="span11 dl-horizontal">
      <dt>Attachments</dt>
      <dd>
      <% if @workshop.attachments.present? %>
        <% @workshop.attachments.each do |attachment| %>
        <%= link_to attachment.attached_file.original_filename, attachment.attached_file.url  %> <span class="filesize"> <%= number_to_human_size(attachment.attached_file.size) %></span><br>
        <% end %>
      <% else %>
        <span class="none">None</span>
      <% end %>
    </dd>
    </dl>
  </div>
</div>
