<!-- app/views/workshops/_room.html.erb -->

<div class="well-tzippy">

  <% unless @have_google_access  %>
    <br>
    <p class="calendar-msg offset1"><em><strong>Note - You must first</strong></em> Grant Calendar Access <em>
      <strong> in order to schedule a Library room</strong></em></p>
  <% end %>

  <% if @workshop.library_location_required %>
    <%= render 'requested_dates', :omit_rooms => false, :omit_instructors => true, :omit_choose_time => false %>
  <% else %>
    <%= render 'requested_dates', :omit_rooms => true, :omit_instructors => true, :omit_choose_time => false %>
  <% end %>

  <div class="show-scheduled-time row-fluid">
    <dl class="span12 dl-horizontal">
      <dt><%= label_tag "scheduled_time", "Scheduled Time" %></dt>
      <dd class="button-base row" id="scheduled_time">
        <span class="scheduled-time span7">
          <% if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>
            <%= @workshop.scheduled_time.display_time_range.html_safe %>
          <% else %>
            Not scheduled yet
          <% end %>
        </span>
        <% if can?(:schedule, @workshop) && @have_google_access && (! @workshop.deleted) %>
          <span class='span3' style='margin:0'>
            <span class="check-rooms-div" <% unless @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>style="display:none;"<% end %>>
              <span style="display:none;" class="choose-start-time scheduled-start-time"><%= @workshop.scheduled_time.start_time.try('as_json') %></span>
              <span style="display:none;" class="choose-duration-minutes scheduled-duration-minutes"><%= @workshop.scheduled_time.duration_minutes %></span>
              <span class="check-rooms-span"
                <% if @workshop.library_location_required %>
                  style="width:90px;margin-left:-50px" <% else %>
                  style="width:90px;margin-left:-50px;display:none" <% end %> >
                <button class="check-rooms btn btn-mini" role="button" data-action="<%= calendars_find_rooms_path %>" data-day="<%= @workshop.scheduled_time.data_day if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>" data-time0="<%= @workshop.scheduled_time.data_time0 if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>" data-time1="<%= @workshop.scheduled_time.data_time1 if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>" data-workshop-id="<%= @workshop.id %>">REVISE ROOM</button>
              </span>
            </span>
            <span >
              <button href="#" role="button" class="revise-scheduled-time btn btn-mini">REVISE TIME</button>
            </span>
          </span>
        <% end %>
      </dd>
    </dl>
    <% if can?(:schedule, @workshop) && @have_google_access && (! @workshop.deleted) %>
      <dl class="revise-scheduled-time-div span11 dl-horizontal" style="display:none;">
        <dt>&nbsp;</dt>
        <dd class="well">
          <%= form_tag update_attribute_workshop_url(@workshop), :method => 'put' do %>
            <div class="scheduled-time-day-input input-append">
              <%= label_tag 'scheduled_time[day]', 'Day', :class => 'required-field'  %>
              <%= text_field_tag 'scheduled_time[day]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_day : TimeRange.default_data_day), 'data-format' => "yyyy-MM-dd", :type => 'text', :class => 'day scheduled-time-day-field input-medium required-field', :required => true %>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
            <div class="scheduled-time-time0-input input-append">
              <%= label_tag 'scheduled_time[time0]', 'Start time', :class => 'required-field'  %>
              <%= text_field_tag 'scheduled_time[time0]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_time0 : TimeRange.default_data_time0), 'data-format' => "HH:mm PP", :type => 'text', :class => 'time0 scheduled-time-time0-field input-medium required-field', :required => true %>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
            <div class="scheduled-time-time1-input input-append">
              <%= label_tag 'scheduled_time[time1]', 'End time', :class => 'required-field'  %>
              <%= text_field_tag 'scheduled_time[time1]', (@workshop.scheduled_time.present? && @workshop.scheduled_time.valid? ? @workshop.scheduled_time.data_time1 : TimeRange.default_data_time1), 'data-format' => "HH:mm PP", :type => 'text', :class => 'time1 scheduled-time-time1-field input-medium required-field', :required => true %>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          <% end %>
          <div>
            <a href="#" role="button" class="save-scheduled-time-changes btn btn-mini">SAVE</a>
            <a href="#" role="button" class="cancel-scheduled-time-changes btn btn-mini">CANCEL</a>
          </div>
        </dd>
      </dl>
    <% end %>
  </div>

  <div class="row-fluid">
    <dl class="dl-horizontal">
      <dt><%= label_tag 'library_location_required', 'Library Room Needed' %></dt>
      <span style="margin-left:55px;margin-top:25px;<% unless @workshop.library_location_required %>display:none;<% end %>" class="uncheck-instruction" >
         <small><em>(Uncheck if UM library location is NOT required)</em></small>
      </span>
      <span style="margin-left:55px;margin-top:25px;<% if @workshop.library_location_required %>display:none;<% end %>" class="check-instruction" >
         <small><em>(Check if UM library location is required)</em></small>
      </span>
      <dd style="margin-top:-20px">
        <% if @workshop.deleted %>
          <%= check_box_tag 'library_location_required', true, @workshop.library_location_required, :id => 'library_location_required_disabled', 'data-url' => library_location_required_workshop_path(@workshop), :disabled => true %>
        <% else %>
          <%= check_box_tag 'library_location_required', true, @workshop.library_location_required, :id => 'library_location_required', 'data-url' => library_location_required_workshop_path(@workshop) %>
        <% end %>
        <span style="vertical-align:top">
      </dd>
    </dl>
  </div>

  <div class="row-fluid" id="location_other_div" <% if @workshop.library_location_required %>style="display:none;"<% end %> >
    <dl class="dl-horizontal">
      <dt><%= label_tag 'non_lib_locaton', 'Non-Library Location' %></dt>
      <dd id="non_lib_location">
        <div class="location-change" >
          <% if @workshop.deleted %>
            <%= @workshop.location_other %>
          <% else %>
            <%= link_to @workshop.location_other, '', :id => 'location_other', 'data-name' => 'location_other', 'data-type' => 'text', 'data-pk' => @workshop.id, 'data-url' => update_attribute_workshop_url(@workshop), 'data-inputclass' => 'input-large', 'data-emptytext' => 'Enter location name', 'data-value' => @workshop.location_other, 'class' => 'ws_editable'  %>
          <% end %>
        </div>
      </dd>
    </dl>
  </div>

  <div class="scheduled-room-div row-fluid" <% unless @workshop.library_location_required %>style="display:none;"<% end %>>
    <dl class="span11 dl-horizontal">
      <dt><%= label_tag "scheduled_room", "Scheduled Room" %></dt>
      <dd class="scheduled-room" id="scheduled_room">
        <%= @workshop.try('location').try('name') %>
      </dd>
    </dl>
  </div>

  <div class="email-room-support-div row-fluid" <% unless @workshop.location.present? && @workshop.location.support_email.present? %>style="display:none;"<% end %>>
    <dl class="span11 dl-horizontal">
      <dd>
        <button href="#" role="button" data-url="<%= new_workshop_comment_url(@workshop, :context => "room_support") %>" class="respond-to-comment-btn email-room-support-btn btn btn-mini">EMAIL ROOM SUPPORT</button>
      </dd>
    </dl>
  </div>

  <div class="row-fluid">
          <% if (can? :schedule, @workshop) %>
          <% unless @workshop.contact_user.nil? || @workshop.contact_user.uniqname.empty? %>
            <div class="btn-group text-right span9">
              <%= link_to "EMAIL #{@workshop.contact_user.display_name}", "#", 'data-url' => new_workshop_comment_url(@workshop, :context => :contacts), :class => "btn btn-small respond-to-comment-btn" %>
            </div>
          <% end %>
        <% end %>
  </div>

  <div id="available-rooms-display" class="available-rooms-display" style="background-color:#FFFAAE;" >
    <div class="row-fluid">
      <div id="available-rooms-div" style="display:none;" class="span10 offset1">
        <input type="hidden" id="chosen-duration-minutes" value="" />
        <input type="hidden" id="chosen-start-time" value="" />
        <h4 id="available-rooms-head"></h4>
        <div id="available-rooms"></div>
        <%= link_to '', choose_location_workshop_path(@workshop), :id => 'choose_location_url'  %>
        <%= link_to '', calendars_room_calendar_path, :id => 'view_calendar_url' %>
      </div>
    </div>

    <div id="room-calendar-container" class="room-calendar-container" style="background-color:#FFF28E">
      <div id="room-calendar"></div>
    </div>
  </div>
</div>
