<!-- app/views/workshops/_statistics.html.erb -->

  <div class="well-tzippy" style="overflow:hidden">
    <% if @workshop.deleted %>
      <div class="row-fluid">
        <dl class="dl-horizontal">
          <dt>Unit</dt>
          <dd>
            <%= @workshop.statistics.unit %>
          </dd>
        </dl>
      </div>
      <div class="row-fluid">
        <dl class="dl-horizontal">
          <dt>Session Type</dt>
          <dd>
            <%= @workshop.try(:session_type).try(:name) %>
          </dd>
        </dl>
      </div>
      <div class="row-fluid">
        <dl class="dl-horizontal">
          <dt>Number of Participants</dt>
          <dd>
            <%= @workshop.statistics.participants %>
          </dd>
        </dl>
      </div>
      <div class="row-fluid">
        <dl class="dl-horizontal">
          <dt>Physical items used?</dt>
          <dd>
            <%= @workshop.statistics.physical_items %>
          </dd>
        </dl>
      </div>
      <div class="row-fluid">
        <dl class="dl-horizontal">
          <dt>Notes</dt>
          <dd>
            <%= @workshop.statistics.notes %>
          </dd>
        </dl>
      </div>
      <div class="row-fluid">
        <dl class="dl-horizontal">
          <dt>Statistics are complete</dt>
          <dd>
            <%= @workshop.statistics.completed %>
          </dd>
        </dl>
      </div>

    <% else %>
      <p class='text-center'>
        <em>All fields other than 'Notes' must have a value before you can check 'Statistics are Complete'</em>
      </p>

      <div class="row-fluid form-inline span9" style="margin-left:85px">
        <br>
        <label for="unit">Unit</label>
        <span>
          <input class="input-xxlarge unit1" name="statistics[unit]" id="unit" type="text" value="<%= @workshop.statistics.unit %>"
           data-type="select2" data-units="<%= @units %>" autocomplete="off" placeholder='Enter unit name (click for selections)' data-pk="<%= @workshop.id %>"
           data-url="<%= update_attribute_workshop_url(@workshop) %>" />
        </span>
      </div>
      <div class="row-fluid form-inline span9" style="margin-bottom:10px">
        <br>
        <%= label_tag "session_type", 'Session Type' %>
        <%= select_tag( "session_type", options_from_collection_for_select(@session_types, :id, :name, @workshop.try(:session_type).try(:id) ), :id => 'session_type_select') %>
      </div>

      <!-- Create divs for each of the sets of option choices for a given session type
           If the current session type has subchoices, make that div visible. The rest are hidden until/if needed via js -->
      <% @session_types.each do | sessiontype | %>
        <% if sessiontype.session_sub_choices.present? %> <!-- session type has options so make a div for the options -->
        <!-- if not the session type for this workshop, then hide the options - putting them there to turn on if/when needed -->
          <div class='sub_choices offset1 sc_<%= sessiontype.id %>'
            <% if sessiontype.id != @workshop.session_type_id %> style="display:none" <% end %>
          >
            <br>
            <div style="margin-left:40px"> Select one or more <%= sessiontype.name %> options </div>
              <div class="dl-horizontal">
                <% @sub_choices.each do | subchoice | %> <!-- for each of the option choices for this session type, create a checkbox -->
                  <% if subchoice.session_type_id == sessiontype.id %>
                    <dt><label for='subchoice_id_<%= subchoice.id %>'><%= subchoice.name %></label></dt>
                    <!-- if it is an existing choice, check the box -->
                    <dd><input  type="checkbox" name="sub_choice_picks[session_sub_choice_id_<%= subchoice.id %>]" style="margin:4px 0 8px 0;"
                      id='subchoice_id_<%= subchoice.id %>' class="pick_checkbox"
                      value='<%= subchoice.id %>' data-pk='<%= @workshop.id %>' sub-choice-name = '<%= subchoice.name %>'
                        <% if @workshop.sub_choice_picks.to_s.include?('session_sub_choice_id: ' + subchoice.id.to_s) %>
                          checked='checked'
                        <% end %> >
                    </dd>
                  <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>

      <div class="row-fluid form-inline span9">
        <br>
        <%= label_tag "participants", 'Number of Participants ' %>
        <%= number_field_tag("statistics[participants]", @workshop.statistics.participants, :class => 'input-mini', :style => 'margin-left:-5px', :id => 'participants' ) %>

        <%= label_tag "physical_items", 'Used Physical Items from the Library Collection', :style => 'margin-left:85px' %>
        <div class="physical_items"><%= check_box('statistics', 'physical_items', :id => 'physical_items',
            :checked => @workshop.statistics.physical_items) %>
        </div>
      </div>
      <br>

      <div class="row-fluid span7">
        <br>
        <span class="smaller-italic stats_notes"> Optional instructor notes such as content covered, recommendations for future sessions, etc.</span>
        <div>
          <%= label_tag("statistics[notes]", 'Notes')  %>
          <%= text_area_tag("statistics[notes]", @workshop.statistics.notes, :rows => 4, :class => 'input-xxlarge',  ) %>
        </div>
        <div class="row-fluid offset2">
          <dl class="dl-horizontal">
            <dt><%= label_tag 'stats-completed', 'Statistics are complete' %></dt>
            <dd><%= check_box('statistics', 'completed', :id => 'stats-completed', :checked => @workshop.statistics.completed) %></dd>
          </dl>
        </div>
      </div>
    <% end %>
    <span>&nbsp;</span>
  </div>
