<!-- app/views/workshops/_topic-selection.html.erb -->

<div id="select-topics-div" class="modal hide fade span10" role="dialog" style="background-color:#FFFAAE">
  <div class="modal-header" style="background-color:#FFE79F">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Select 1 or more Topics</h3>
  </div>
  <div class="modal-body" >
    <form id="select-topics-form">
      <% @topic_categories.each do |category| %>
        <% unless category.topics.blank? %>
          <div class="category">
            <div class="category-title">
              <h3>
                <%= category.name %>
                <small>(<%= category.topics.count %> topics)</small>
              </h3> 
            </div>
            <% category.topics.where(:active => true).order(:title).each do |topic| %>
              <div class="topic  form-inline">
                <% selected = false %>
                <% unless ( @workshop.nil? || @workshop.topics.empty? ) then selected = @workshop.topics.include?(topic) end %>
                <%= check_box_tag("topics", topic.id , selected, :class => "topic", :id => "t_#{topic.id}" ) %>
                <%= label_tag "t_#{topic.id}", "#{topic.title}", :type => "checkbox" %>
                <button type="button" style="margin-top:-45px" class="btn btn-link topic_more_less" data-toggle="collapse"
                  data-target="#topic_<%= topic.id %>"><small><small>more info</small></small></button>
                <div id="topic_<%= topic.id %>" class="collapse" style="margin-top:-15px">
                  <%= topic.description %>
                </div>
                <hr class="hr-footer"/>
              </div>
            <% end %>

          </div>
        <% end %>
      <% end %>
    </form>
  </div>
  <div class="modal-footer" style="background-color:#FFFFCC">
    <button id="save-topics" class="btn btn-info btn-small">Save changes</button>
    <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
