<!-- app/views/workshops/_view_statistics.html.erb -->

  <div class="well-tzippy">
    <br>
    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt>Unit<dt>
        <dd>
          <% if ! @workshop.try(:statistics).try(:unit).nil? %> <%= @workshop.statistics.unit %>
          <% else %><em><small> Not yet specified</small></em>
          <% end %>
        </dd>
      </dl>
      <dl class="span6 dl-horizontal">
        <dt>Session Type</dt>
        <dd>
          <% if ! @workshop.try(:session_type).try(:name).nil? %> <%= @workshop.session_type.name %>
          <% else %><em><small> Not yet specified</small></em>
          <% end %>
        </dd>
      </dl>
    </div>

    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt>Number of Participants<dt>
        <dd><%=  @workshop.statistics.participants %></dd>
      </dl>
      <dl class="span4 dl-horizontal">
        <dt>Physical items used?</dt>
        <dd>
          <% if @workshop.statistics.physical_items.nil?  %>
            <em><small> Not yet answered</small></em>
          <% elsif @workshop.statistics.physical_items %>
            Yes
          <% else %>
            No
          <% end %>
        </dd>
      </dl>
    </div>

    <div class="row-fluid">
      <dl class="span4 dl">
        <dt>Notes</dt>
        <dd><%= @workshop.statistics.notes %></dd>
    </div>

    <div>
      <span class="offset4">
      <% if @workshop.statistics.completed %>
        <i class="icon-ok"></i>
      <% else %>
      <%= check_box('statistics', 'completed', :disabled => true, :checked => @workshop.statistics.completed) %>
      <% end %>
      <strong>Statistics are complete</strong>
    </span>
    <p></p>
    </div>

  </div>
