<!-- app/views/workshops/copy.html.erb -->
<script type="text/javascript">
  var workshops_url = "<%= workshops_url %>";
</script>
<%= render 'layouts/home_button' %>
<h2 class="manage-title">Copy Request</h2>
<p class="alert alert-info"><strong> Revise what needs to be revised and click the "Submit Request" button at the bottom.</strong></p>

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

  <%= render 'form', { :allow_split_on_request_times => true } %>

  <%= render 'layouts/save_cancel' , :link_path => workshops_path , :submit_text => 'Submit Request' %>
<% end %>
<%= render 'topics-selection' %>


