<table class="table">
  <tbody  class="span6">
    <tr>
      <th>Title</th>
      <td><%= @workshop.title %></td>
    </tr>
    <tr>
      <th>Contact User</th>
      <td><%= contact_user_name(@workshop) %></td>
    </tr>
    <tr>
      <th>Instructors</th>
      <td><%= instructor_list(@workshop) %></td>
    </tr>
    <tr>
      <th>Topics</th>
      <td><%= topic_list(@workshop) %></td>
    </tr>
  </tbody>
</table>

