<!-- app/views/workshops/edit.html.erb -->

<%= render 'layouts/home_button' %>
<h1 class="manage-title">Editing Workshop</h1>

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method, :class => "form-horizontal session-request-form" ) do |f| %>


	<%= render 'form', { :allow_split_on_request_times => false } %>

	<%= render 'layouts/save_cancel' , :link_path => workshops_path , :submit_text => 'Save Changes' %>

<% end %>

<%= render 'users/search_form' %>
