<!-- app/views/workshops/index.html.erb -->
<script type="text/javascript">
  var workshops_url = "<%= workshops_url %>";
  var users_url = "<%= user_url(current_user) %>";
</script>

<div id="dashboard" class="data-content-large">
  <% if can? :add_stats, Workshop %>
    <h1 class = "text-center" style = "margin-bottom:25px">Workshop Dashboard</h1>
  <% else %>
    <h1 class = "text-center" style = "margin-bottom:25px">My Instruction Sessions</h1>
  <% end %>

  <ul id="workshops-filters" class="nav nav-pills">
    <li class="pillbox-label">Filters:</li>
    <%= workshop_filter_button 'Active',        'active',      'All non-archived requests' %>
    <%= workshop_filter_button 'Mine',          'mine',        'Requests made by you or where you are the contact person, or you are the instructor' %>
    <%= workshop_filter_button 'New Requests',  'requested',   'Requests needing attention - no scheduled day, no instructor, no room' %>
    <%= workshop_filter_button 'No Time',       'unscheduled', 'Sessions without a scheduled day or time' %>
    <%= workshop_filter_button 'No Room',       'unbooked',    'Sessions without an assigned room' %>
    <%= workshop_filter_button 'No Instructor', 'unassigned',  'Sessions without an assigned instructor' %>
    <%= workshop_filter_button 'Needs Stats',   'needs_stats', 'Sessions which have been taught where stats have not yet been completed' %>
    <%= workshop_filter_button 'Needs Eval',    'needs_eval',  'Sessions for which an eval has not been completely setup' %>
    <%= workshop_filter_button 'Archived',      'archived',    'Archived (non-active) requests only' %>
    <%= workshop_filter_button 'My Recently Completed', 'recent',    'Sessions you recently conducted' %>

    <% if can? :manage, :all %>
      <%= workshop_filter_button 'Deleted', 'deleted', 'Deleted sessions' %>
    <% end %>
         <%# title: 'Requests made by you or where you are the contact person, or you are the instructor' %>
    </li>
  </ul>

  <% if logged_in? %>
  <div class="well-tzippy">
    <table id="workshops" class="table-striped datatable" data-source="<%= workshops_url(format: "json") %>"
      summary="List of requests for Library Instruction">
      <thead>
        <tr>
          <th data-col="title" class="span4 text-left">Title</th>
          <th data-col="id" class="span1 text-center"><small><em> info</em></small></th>
          <th data-col="instructor_names" class="span4 text-left">Instructor</th>
          <th data-col="scheduled_time_start_time"     class="span3 text-left">Scheduled Time</th>
          <th data-col="short_location_name"     class="span4 text-left">Location</th>
          <th data-col="contact_user_name"     class="span4 text-left">Contact</th>
  <!--         <th data-col="action_links" class="span3"></th> -->
          <th data-col="has_statistics" class="text-left">
            <% if can? :create, Statistics %> <small><em>Stats</em></small></th>
            <% end %>
          <th data-col="managed_by_id" class="span2 text-center">
            <% if can? :archive, Workshop %>  <!-- kind of a cannot, to trap out roles above instructor -->
            <% elsif can? :create, Statistics  %>  <span style="padding-right:5px"><small><em>Eval</em></small></span>
            <% end %> </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <% end %>
</div>

<div id="modal" style="display:none;"></div>
