<!-- app/views/workshops/new.html.erb -->
<script type="text/javascript">
  var workshops_url = "<%= workshops_url %>";
</script>

<%= render 'layouts/home_button' %>
<h1 class="manage-title">New Workshop Session Request</h1>

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method, :class => "form-horizontal session-request-form" ) do |f| %>


	<%= render 'form', { :allow_split_on_request_times => true } %>

	<%= render 'layouts/save_cancel' , :link_path => workshops_path , :submit_text => 'Submit Request' %>

<% end %>
<%= render 'users/search_form' %>
