<!-- app/views/workshops/schedule.html.erb -->

<div>

  <%= render 'info_banner' %>

  <span class="btn-toolbar" >
      <%= link_to '<i class="icon-home"></i> Dashboard'.html_safe, workshops_path, style: 'color:black', class: 'btn btn-mini btn-info',:title => 'Return to main dashboard' %>
  </span>
  <span id="toggle-managed-by" title = "Click this to let others know you are (or are not) working on this request"
    style="margin:15px 0 0 30px;vertical-align:text-top">
    <em>
      <% if @workshop.managed_by.nil? || @workshop.managed_by.uniqname.nil? || @workshop.managed_by.uniqname.empty? %>
        <%= link_to "Manage this request", toggle_manage_workshop_path(@workshop) %>
      <% else %>
        <%= link_to "Managed by #{@workshop.managed_by.display_name}", toggle_manage_workshop_path(@workshop) %>
       <% end %>
    </em>
  </span>

  <%= form_tag(toggle_manage_workshop_path(@workshop) , :method => 'put', :id => "manager_form" ) do %>
  <% end %>


</div>
<div id="schedule-tabs" class="tabbable tabs-left" data-active-tab="<%= @active_tab_id %>">

  <ul class="nav nav-tabs">

    <li class="tab-review <%= active_tab_class('review', @active_tab_id, false) %>">
      <a href="#review" data-toggle="tab">
        Review <i class="icon-ok" alt='Scheduling has started - the request has been accepted'
        <% if ! @workshop.accepted? %> style="display:none;" <% end %> ></i>
      </a>
    </li>

    <li class="tab-room <%= active_tab_class('room', @active_tab_id, false) %>">
      <a href="#room" data-toggle="tab">
        Room <i class="icon-ok" alt='A room has been assigned'
        <% if ! @workshop.booked? %> style="display:none;" <% end %> ></i>
      </a>
    </li>

    <li class="tab-instructor <%= active_tab_class('instructor', @active_tab_id, false) %>">
      <a href="#instructor" data-toggle="tab">
        Instructor <i class="icon-ok" alt='At least one instructor has been assigned'
        <% if ! @workshop.assigned? %> style="display:none;" <% end %> ></i>
      </a>
    </li>

    <li class="tab-evaluation <%= active_tab_class('evaluation', @active_tab_id, false) %>">
      <a href="#evaluation" data-toggle="tab">
        Evaluation <i class="icon-ok" alt='An evaluation has been seutp for this session'
        <% if ! @workshop.evaluation_setup? %> style="display:none;" <% end %> ></i>
      </a>
    </li>

    <li class="tab-registration <%= active_tab_class('registration', @active_tab_id, false) %>">
      <a href="#registration" data-toggle="tab">
        Registration <i class="icon-ok" alt='A registration system has been seutp for this session'
        <% if ! @workshop.registration_setup?  %> style="display:none;" <% end %> ></i>
      </a>
    </li>

    <li class="tab-stats <%= active_tab_class('stats', @active_tab_id, false) %>">
      <a href="#stats" data-toggle="tab">
        Stats <i class="icon-ok" alt='Statistics are complete for this session'
        <% if ! @workshop.statistics.completed?  %> style="display:none;" <% end %> ></i>
      </a>
    </li>

    <li class="tab-email <%= active_tab_class('email', @active_tab_id, false) %>">
      <a href="#email" data-toggle="tab">Email</a>
    </li>
    <li class="tab-events <%= active_tab_class('events', @active_tab_id, false) %>">
      <a href="#events" data-toggle="tab">Recent Activity</a>
    </li>
  </ul>

  <div class="tab-content">

    <div id="review" class="tab-pane <%= active_tab_class('review', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Review Request</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>




          <% if can? :destroy, @workshop && @have_google_access %>
            <% unless @workshop.deleted %>
              <div class="archive-btn">
                <%= link_to "Delete", workshop_path(@workshop), :method => :delete, :class => 'btn btn-small pull-right', :confirm => "Are you sure you want to delete this request?" %>
              </div>
            <% end %>
          <% end %>
        
          <% if (can? :archive, @workshop) & ! @workshop.deleted %>
            <div class="archive-btn">
              <span class="unarchive-action"<% unless @workshop.archived? %> style="display:none;"<% end %>
              >
                <%= button_tag "Un-archive", data: { :url => toggle_archive_workshop_path(@workshop) }, :title => 'Remove the "archived" tag (puts workshop back in active list)', :class => "btn btn-small pull-right toggle-archive"  %>
              </span>
              <span class="archive-action"
                <% if @workshop.archived? %> style="display:none;"
                <% end %>
              >
                <%= button_tag "Archive", data: { :url => toggle_archive_workshop_path(@workshop) }, :title => 'Tag this request with "archived" (removes workshop from acitve list but doesn\'t delete it)', :class => "btn btn-small pull-right toggle-archive" %>
              </span>
            </div>
          <% end %>


        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% else %>
          <span class="text-notice" <% if ! @workshop.archived? %> style="display:none;" <% end %> >
              (This request is archived)
          </span>
        <% end %>


      </div>
      <%= render 'review' %>
    </div>

    <div id="room" class="tab-pane <%= active_tab_class('room', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Room</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>
        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% elsif @workshop.archived %>
          <span class="text-notice">(This request is archived)</span>
        <% end %>
      </div>
      <%= render 'room' %>
    </div>

    <div id="instructor" class="tab-pane <%= active_tab_class('instructor', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Instructor</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>
        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% elsif @workshop.archived %>
          <span class="text-notice">(This request is archived)</span>
        <% end %>
      </div>
      <%= render 'instructor' %>
    </div>

    <div id="evaluation" class="tab-pane <%= active_tab_class('evaluation', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Evaluation</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>
        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% elsif @workshop.archived %>
          <span class="text-notice">(This request is archived)</span>
        <% end %>
      </div>
      <div class="evaluation">
      <%= render 'evaluation' %>
      </div>
      <%= link_to '', evaluation_workshop_path(@workshop), { :class => 'evaluation-link' } %>
    </div>

    <div id="registration" class="tab-pane <%= active_tab_class('registration', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Registration</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>
        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% elsif @workshop.archived %>
          <span class="text-notice">(This request is archived)</span>
        <% end %>
      </div>
      <%= render 'registration' %>
    </div>

    <div id="stats" class="tab-pane <%= active_tab_class('stats', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Statistics</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>
        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% elsif @workshop.archived %>
          <span class="text-notice">(This request is archived)</span>
        <% end %>
      </div>
      <%= form_tag( save_stats_tab_workshop_path(@workshop), :method => 'post', :id => 'workshop-statistics-form' ) do %>
        <div class="stats">
          <%= render 'statistics' if "stats" == @active_tab_id %>
        </div>
      <% end %>
      <%= link_to '', statistics_workshop_url(@workshop), { :class => 'stats-link' } %>
    </div>

    <div id="email" class="tab-pane <%= active_tab_class('email', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Email</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>
        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% elsif @workshop.archived %>
          <span class="text-notice">(This request is archived)</span>
        <% end %>
      </div>
      <div class="email">
        <%= render "comments/index" if "email" == @active_tab_id %>
      </div>

      <%= link_to '', workshop_comments_url(@workshop), { :class => 'email-link' } %>
    </div>

    <div id="events" class="tab-pane <%= active_tab_class('events', @active_tab_id, false) %>">
      <div class="row">
        <h2 class="span4">Recent Activity</h2>
        <div id="review-sched-pager"> <%= render 'layouts/ws_pager' %> </div>
        <% if @workshop.deleted %>
          <span class="text-notice">(This request is deleted)</span>
        <% elsif @workshop.archived %>
          <span class="text-notice">(This request is archived)</span>
        <% end %>
      </div>
      <div class="events">
        <%= render "workshop_events/index" if "events" == @active_tab_id %>
      </div>
      <%= link_to '', workshop_workshop_events_url(@workshop), { :class => 'events-link' } %>
    </div>

  </div>
</div>


<div id="select-topics-div" class="modal hide fade" role="dialog" data-toggle="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="select-topics-div-head">Select Session Topics</h3>
  </div>
  <div id="select-topics-form" class="modal-body">
    <%= form_tag  do %>
      <% @topic_categories.each do |category| %>
        <div class="category">
          <%= category.name %>
        </div>
        <% category.topics.each do |topic| %>
          <div class="topic">
            <% selected = false %>
            <% unless ( @workshop.nil? || @workshop.topics.empty? ) then selected = @workshop.topics.include?(topic) end %>
            <p>
            <%= check_box_tag("topics", topic.id , selected, :class => "one-topic", :id => "topic_#{topic.id}" ) %>
            <%= label_tag "topic_#{topic.id}", "#{topic.title}", :class => 'label-checkbox' %>
            </p>
            <p><%= topic.description %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="save-selected-topics" class="btn btn-info btn-small">Save changes</button>
  </div>
</div>

<div id="respond-to-comment-div" class="modal hide fade modal-email" role="dialog" data-toggle="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="add-comment-div-head" tabindex="-1">Send Email</h3>
  </div>
  <div id="comment-form" class="modal-body comment-form">
    <div id="response-div">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="save-comments btn btn-info btn-small">Send</button>
  </div>
</div>
