<% if @page.present? %>
  <%= @page.html_safe %>
<% else %>
  <div class="row-fluid ">
    <h2 class="text-center">Evaluation Request</h2>

    <div>
      <p>
        Your request to complete an evaluation for a Library Workshop could not be handled at this time. Here is some additional information:
      </p>
      <div class="well-tzippy">
        <%= @workshop.full_eval_url %>
      </div>
      <p>
        If you see a URL there, please copy and paste it into your browser.  If you still are not able to complete the evaluation, please report the error.
      </p>
      <p>
        If you do not see a URL above, please report the error.
      </p>
    </div>

  </div>
<% end %>

