
<div class="row-fluid ">
  <div class = "show_page">
    <%= render 'layouts/home_button' %>
    <h2 class="manage-title" style="padding-bottom:10px;">Instruction Request</h2>
    <%= render 'layouts/ws_pager' %>
  </div>
  <div class="toolbar-2nd pull-right show-view-toolbar">

    <% if can? :schedule, @workshop %>
      <%= link_to 'Manage', schedule_workshop_path(@workshop), class: 'btn btn-small btn-link pull-right' %>
    <% end %>

    <% if can_edit_ws(@workshop) %>
      <%= link_to 'Edit', edit_workshop_path(@workshop), class: 'btn btn-small btn-link pull-right' %>

    <% end %>

    <%= link_to "Copy", copy_workshop_path, class: 'btn btn-small btn-link pull-right' %>

    <% if (can? :destroy, @workshop) && (! @workshop.deleted) && @have_google_access %>
    <%= link_to 'Delete', '#', 'data-url' => workshop_path(@workshop), :method => :delete, :class => 'btn btn-small btn-link pull-right ', :confirm => "Are you sure you want to delete this request?" %>
    <% end %> 


    <% if (can? :claim, @workshop) && (! @workshop.deleted)  %>
      <%= link_to '#', 'data-url' => workshop_instructor_assignments_path(@workshop), 'data-next' => workshops_path, :class => "btn btn-small btn-link btn-success pull-right claim-workshop-button", 'data-show-view' => true, :style => (@workshop.instructors.include?(current_user) ? 'display:none;' : '' ) do %>
        <%= t(:Claim) %>
        <%= content_tag(:i, "", :class => "icon-thumbs-up").html_safe %>
      <% end %>
    <% elsif (can? :unclaim, @workshop) && (! @workshop.deleted)  %>
      <%= link_to '#', 'data-url' => workshop_instructor_assignment_path(@workshop, 0), :class => "btn btn-small btn-link btn-success pull-right unclaim-workshop-button", 'data-show-view' => true, :style => (@workshop.instructors.include?(current_user) ? '' : 'display:none;') do %>
        <%= t('Remove me') %>
        <%= content_tag(:i, "", :class => "icon-thumbs-down").html_safe %>
      <% end %>
    <% end %>
  </div>

  <h4>Contact Information</h4>

  <div class="well-tzippy" >
    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt>Contact</dt>
        <dd><%= contact_user_name(@workshop) %></dd>
      </dl>
      <dl class="offset1 span4 dl-horizontal ">
         <dt>Uniqname</dt>
         <dd><%= contact_user_email(@workshop) %></dd>
       </dl>
    </div>
      <div class="row-fluid">
        <span class="offset2"><small><em>This workshop was requested by </em> <%= requester_user_name(@workshop) %>
              ( <em><%= @workshop.try(:requested_by).try(:uniqname) %>)
                on <%= short_day_display(@workshop.created_at) %> <%= simple_time(@workshop.created_at) %></em> </small>
        </span>

    </div>
  </div>

  <% if ! can_edit_ws(@workshop) %>
    <div class="alert alert-info alert-info-show">
      Scheduling for this session request is in process or complete! If you need to make changes, please
        <%= link_to "EMAIL SCHEDULERS", "#", 'data-url' => new_workshop_comment_url(@workshop, :context => :schedulers), :class => "btn btn-small respond-to-comment-btn" %>
    </div>
  <% end %>


  <h4>Session Information</h4>
  <div class="well-tzippy">
    <%if @workshop.class_related %>
        <em>This is a session being taught for a credit bearing class offered by UM </em>-
        <%= @workshop.subject %>  <%= @workshop.course %>  <%= @workshop.section %>
    <% else %>
        <em>This session is not for a credit bearing class offered by UM</em>
    <% end %>

    <p></p>
    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt>Course Title</dt>
        <dd><%= @workshop.title %></dd>
      </dl>
      <dl class="offset1 span6 dl-horizontal">
        <dt><%= 'Session Topic'.pluralize(@workshop.topics.count) %></dt>
        <% @workshop.topics.each do |topic| %>
          <dd><%= topic.title %></dd>
        <% end %>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt>Expected Attendance</dt>
        <dd ><% unless @workshop.expected_attendance.blank? %> <%= @workshop.expected_attendance %> <% else %>
             <span class='none'>Not specified</span><% end %>
        </dd>
      </dl>
    </div>

    <% if @workshop.deleted %>
      <div class="alert alert-info">
        Note: This workshop session has been deleted!
      </div>
    <% elsif @workshop.archived %>
      <div class="alert alert-info">
        Note: This workshop session has been archived!
      </div>
    <% end %>
  </div>

  <h4>Additional Information</h4>
  <div class="row-fluid">
    <div class="well-tzippy">
      <dl class="dl-horizontal show-form-addtional-info">
        <dt><strong><%= 'Requested Date'.pluralize(@workshop.requested_times.count) %></strong></dt>
        <% @workshop.requested_times.each do |requested_time| %>
          <dd><%= requested_time.time_range.display_short_dm.html_safe %> <small>(<%= requested_time.time_range.duration_minutes.to_i %> min)</small></dd>
        <% end %>

        <dt><strong>Scheduled Date</strong> </dt>
        <% if @workshop.scheduled_time.present? && @workshop.scheduled_time.valid? %>
          <dd><%= @workshop.scheduled_time.display_short_dm %> <small>  (<%= @workshop.scheduled_time.duration_minutes.to_i %> min)</small></dd>
        <% else %>
          <dd><span class='none'>No date chosen yet</span></dd>
        <% end %>

        <dt><strong>Location</strong></dt>
        <% if @workshop.location.nil? && @workshop.location_other.nil? %>
          <dd><span class='none'>No location chosen yet</span></dd>
        <% else %>
          <dd><%= @workshop.location_name(true) %></dd>
        <% end %>

        <dt class="show-instructors"><strong><%= 'Instructor'.pluralize(@workshop.instructors.count) %></strong></dt>
        <% if @workshop.instructors.length > 0 %>
          <% @workshop.instructor_assignments.each do |instructor_assignment| %>
            <dd class="show-instructors">
              <%= instructor_assignment.user.display_name %> (<%= instructor_assignment.user.uniqname %>)
              <% if instructor_assignment.user == current_user %>
                <%= link_to image_tag('delete_16.png', :alt => "Remove yourself as instructor for this workshop"), "#", 'data-instructor-id' => instructor_assignment.user.id, 'data-url' => workshop_instructor_assignment_url(@workshop, instructor_assignment), :class => "remove-instructor", :title => "Remove yourself as instructor for this workshop" %>
              <% end %>
            </dd>
          <% end %>
        <% else %>
          <dd class="show-instructors"><em>No instructors assigned yet</em></dd>
        <% end %>

        <dt><strong>Eval URL for Students</strong> </dt>
        <dd>
          <input type='text' class="span5" id='show-eval-url' value='<%= short_url(@workshop.id.to_s(36)) %>'
            onClick=SelectText('#show-eval-url')  />
          <%= link_to "email URL", "#", 'data-url' => new_workshop_comment_url(@workshop, :context => :instructor_eval_url),
            :class => "btn btn-small respond-to-comment-btn" %>
        </dd>

        <dt><strong><%= 'Attachment'.pluralize(@workshop.attachments.count) %></strong> </dt>
        <% unless @workshop.attachments.blank? %>
          <% @workshop.attachments.each do |attachment| %>
            <dd><%= link_to attachment.attached_file.original_filename ,attachment.attached_file.url  %> <span class="filesize"><%= number_to_human_size(attachment.attached_file.size) %></span> </dd>
        <% end %>
        <% else %> <dd> <span class='none'>None</span> </dd>
        <% end %>

        <dt>Questions or Additional Information</dt>
        <dd >
          <% unless @workshop.notes.blank? %>
            <%= space_out_linebreaks @workshop.notes %>
          <% else %>
           <span class='none'>None</span>
          <% end %>
        </dd>
      </dl>
    </div>

  </div>
</div>

<div id="respond-to-comment-div" class="modal hide fade modal-email" role="dialog" data-toggle="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="add-comment-div-head" tabindex="-1">Send Email</h3>
  </div>
  <div id="comment-form" class="modal-body comment-form">
    <div id="response-div">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="save-comments btn btn-info btn-small">Send</button>
  </div>
</div>
