<!-- app/views/workshops/stats.html.erb -->
<div class="data-content data-content-medium"><%= render 'info_banner' %>
<br/>
<%= render 'layouts/home_button' %>
<h1 class="text-center">Statistics</h1>

  <%= form_tag( save_stats_tab_workshop_path(@workshop), :method => 'post', :id => 'workshop-statistics-form' ) do %>
    <%= render 'statistics' %>
      <%= link_to 'Done', workshops_path, :class => 'btn btn-mini btn-info' %>
  <% end %>
</div>
