<!-- app/views/notification_preference/_form.html.erb -->

<tr class="npref-form well-tzippy">
    <td class="npref-event_type span4">
      <%= select "np", "event_type", options_from_collection_for_select(@event_types.collect { |i| [i[:id], i[:name]] }, 'first', 'last', @notification_preference.try('event_type')) %>
    </td>
    <td class="npref-notifier">
      <%= select "np", "notifier", options_from_collection_for_select(@notifiers.collect { |i| [i[:id], i[:name]] }, 'first', 'last', @notification_preference.try('notifier')) %>
    </td>
    <td class="npref-scope">
      <%= select "np", "scope", options_from_collection_for_select(@scopes.collect { |i| [i[:id], i[:name]] }, 'first', 'last', @notification_preference.try('scope')) %>
    </td>
    <td class="npref-active">
      <%= check_box_tag "np[active]", 'true', @notification_preference.active,  :id => "np_active_checkbox" %>
    </td>
    <td class="npref-action">
      <button type="button" class="btn btn-link npref-save" data-url="<%= @submit_url %>" data-method="<%= @submit_method %>" data-index="<%= @index %>" data-success-msg="<%= @success_msg %>">Save Changes</button>
      <button type="button" class="btn btn-link npref-cancel" data-index="<%= @index %>">Cancel</button>
      <input type="hidden" name="index" value="<%= @index %>" id="index" />
    </td>
</tr>
