<!-- app/views/notification_preference/_index.html.erb -->

  <%= form_tag do %>
  <table class="np-table">
    <thead>
      <tr>
        <th class="npref-event_type">
          Notification
        </th>
        <th class="npref-notifier">
          Method
        </th>
        <th class="npref-scope">
          Which Requests
        </th>
        <th class="npref-activer">
           Active
        </th>
        <th class="npref-action">

        </th>
      </tr>
    </thead>
    <tbody class="npref-tbody">
      <% @notification_preferences.each do |pref| %>
        <tr class="npref-show npref-<%= pref.id %> ">
          <td class="npref-event_type">
            <%= @event_types[pref.event_type] %>
          </td>
          <td class="npref-notifier">
            <%= @notifiers[pref.notifier] %>
          </td>
          <td class="npref-scope">
            <%= @scopes[pref.scope] %>
          </td>
          <td class="npref-active">
            <%= pref.active %>
          </td>
          <td class="npref-action">
            <button type="button" class="btn btn-link npref-revise" data-url="<%= edit_user_notification_preference_url(@user_id, pref.id) %>">
              <%= image_tag('edit16.png') %></button>
            <button type="button" class="btn btn-link npref-delete" data-url="<%= user_notification_preference_url(@user_id, pref.id) %>">
              <%= image_tag('delete_16.png') %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <button type="button" class="btn btn-link npref-new" data-url="<%= new_user_notification_preference_url(@user_id) %>">Add a Rule</button>
  </div>

<% end %>
