<!-- app/views/notification_preference/_show.html.erb -->

<tr class="npref-show npref-show-new npref-<%= @notification_preference.id %>">
  <td class="npref-event_type">
    <%= @event_types[@notification_preference.event_type] %>
  </td>
  <td class="npref-notifier">
    <%= @notifiers[@notification_preference.notifier] %>
  </td>
  <td class="npref-scope">
    <%= @scopes[@notification_preference.scope] %>
  </td>
  <td class="npref-active">
    <%= @notification_preference.active %>
  </td>
  <td class="npref-action">
    <button type="button" class="btn btn-link npref-revise" data-url="<%= edit_user_notification_preference_url(@user_id, @notification_preference.id) %>">
      <%= image_tag('edit16.png') %></button>
    <button type="button" class="btn btn-link npref-delete" data-url="<%= user_notification_preference_url(@user_id, @notification_preference.id) %>">
      <%= image_tag('delete_16.png') %></button>
  </td>
</tr>

