<% provide(:title, 'Instruction and Workshops') %>

<div class="row-fluid">
	<%= render 'layouts/home_button' %>
	<h1 class="text-center" style="margin-top:-35px">Instruction and Workshops</h1>
</div>


<p>
<div class="row">
	<span class="span7">
		<p>
			The University Library has a variety of
			<a href="http://www.lib.umich.edu/instruction-and-workshops" target ='_blank'>
				instructional offerings</a>
			at all levels of research experience and for all subjects, whether you are looking for instruction for yourself, a group, or a class you teach.
		</p>
		<br><p>
			You can request a session by submitting the MLibrary Instruction
		<%= link_to 'request form', new_workshop_path %>.
		</p>
	</span>
	<span style="float:right;margin-top:-100px">
		<%= image_tag("tagcloud.png", alt: "MLibrary Tag cloud", width: "500", height: "400") %>
	</span>
</div>
<p style='padding-top:75px'>
  <em><small>The MLibrary Instruction and Workshop Request System has been developed within the
  <a href="http://www.lib.umich.edu/" target="_blank">University of Michigan Library</a>
    by LTIG &mdash; the Learning Technology Incubation Group for Library Learning & Teaching.</small></em>
</p>
