<% provide(:title, 'Contact') %>

<div class="row-fluid">
	<%= render 'layouts/home_button' %>
	<h1 class="text-center" style="margin-top:-35px">Contact Us</h1>
</div>

<p style="margin:40px">
  For questions about or support for training and workshops,
  please contact the MLibrary Instruction coordinators at
  <%= mail_to "mlibrary.instruction@umich.edu" , "MLibrary.Instruction@umich.edu" %>.
</p>
