<div class="center well-tzippy">
  <h1 class="text-center">MLibrary Instruction Request</h1>
  <h2>Welcome!</h2>
  <p>
  	This is the MLibrary Instruction Request System used to submit and track workshop and instruction sessions
  	taught by MLibrarians. When you login, you can use the 'Request a New Workshop' button to make a new request,
  	and track the request status. MLibrary Instructors also use this system to plan and schedule the requests.
  </p>
  <span>
    <%= image_tag("instruction.gif", alt: "MLibrary Tag cloud", width: "300", height: "200", style: "float:right;margin-left:10px") %>
  </span>
  <p>
		To help us tailor a session to your needs, use the request form to let us know a little bit about your class or group, what type of information you'd like covered, and some possible dates that might work for you. You'll be given a chance to select from a list of topics.If you're not sure what would be right for your class or group and you'd like to talk to a librarian first, <strong>fill out the basic information about your class</strong>, submit your request, and the appropriate person will get in touch with you.
	</p>
	<p>
		When submitting a request for an instructional session, we ask that you <strong>request a session at least two weeks in advance</strong>; you will receive a confirmation usually within one business day of its receipt.
  </p>
  <br><br>
	  <p><%= link_to "Sign in now", login_path, class: "btn btn-primary" %>
	  <em><small>You will be redirected to the University of Michigan Weblogin page where you should use your uniqname to login</small></em>
</p>
</div>

