<!-- app/views/sessions/new.html.erb -->
<div  class="data-content data-content-medium">
<h1 class="text-center">Developer Login</h1>
<span class="span12 text-center"><em>
  (This page for developers only - users will not see this page - they will login via the UM Weblogin system)
</em></span>
<br>
<div class="well-tzippy" id="login-form">
<br>
  <%= form_tag sessions_path, class: 'form-horizontal offset1' do %>
    <div class="control-group">
      <%= label_tag :username, nil, class: 'required-field control-label' %>
      <div class="controls">
        <span>
          <%= text_field_tag :username, '', :required => true %>
        </span>
        <span><em><small> (This is your UM uniqname)</small></em></span>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :password, nil, class: 'required-field control-label' %>
      <div class="controls">
        <span>
          <%= password_field_tag :password %>
        </span>
        <span><em><small> (Internal database password)</small></em></span>
      </div>
    </div>

    <div class="control-group">
      <div class="actions controls">
        <%= submit_tag 'Log in', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div class="error-div">
    <% if @error %>
      <p class="errors">
        <%= @error %>
      </p>
    <% end %>
  </div>

  <span class="required-field required-field-note "></span>
  <br>
</div>
</div>
