<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :workshop %><br />
    <%= f.text_field :workshop %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  
  <div class="field">
    <%= f.label :email_to_requester %><br />
    <%= f.check_box :email_to_requester %>
  </div>
  <div class="field">
    <%= f.label :email_to_contact %><br />
    <%= f.check_box :email_to_contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
