<!-- app/views/comments/index.html.erb -->

<% if @total_count < 1 %>
  <span class="text-center span10"><em>There are no email messages concerning this session request</em></span>
<% else %>

<% if @total_count > @page_size %>
  <div class="pagination email-pager">
    <ul>
      <% if @page_num > 0 %>
        <% if @workshop.present? %>
          <li><%= link_to "First", workshop_comments_url(@workshop, :page_num => "0", :page_size => "#{@page_size}") %></li>
          <li><%= link_to "Prev", workshop_comments_url(@workshop, :page_num => "#{@page_num - 1}", :page_size => "#{@page_size}") %></li>
        <% else %>
          <li><%= link_to "First", comments_url(:page_num => "0", :page_size => "#{@page_size}") %></li>
          <li><%= link_to "Prev", comments_url(:page_num => "#{@page_num - 1}", :page_size => "#{@page_size}") %></li>
        <% end %>
      <% else %>
        <% if @workshop.present? %>
          <li class="disabled"><%= link_to "First", workshop_comments_url(@workshop, :page_num => "0", :page_size => "#{@page_size}") %></li>
          <li class="disabled"><%= link_to "Prev", workshop_comments_url(@workshop, :page_num => "#{@page_num - 1}", :page_size => "#{@page_size}") %></li>
        <% else %>
          <li class="disabled"><%= link_to "First", comments_url(:page_num => "0", :page_size => "#{@page_size}") %></li>
          <li class="disabled"><%= link_to "Prev", comments_url(:page_num => "#{@page_num - 1}", :page_size => "#{@page_size}") %></li>
        <% end %>
     <% end %>

      <% 0.upto @last_page do |n| %>
        <% if n == @page_num %>
          <% if @workshop.present? %>
            <li class="active"><%= link_to "#{n + 1}", workshop_comments_url(@workshop, :page_num => "#{n}", :page_size => "#{@page_size}") %></li>
          <% else %>
            <li class="active"><%= link_to "#{n + 1}", comments_url(:page_num => "#{n}", :page_size => "#{@page_size}") %></li>
          <% end %>
        <% else %>
          <% if @workshop.present? %>
            <li><%= link_to "#{n + 1}", workshop_comments_url(@workshop, :page_num => "#{n}", :page_size => "#{@page_size}") %></li>
          <% else %>
            <li><%= link_to "#{n + 1}", comments_url(:page_num => "#{n}", :page_size => "#{@page_size}") %></li>
          <% end %>  
        <% end %>
      <% end %>

      <% if @page_num < @last_page %>
        <% if @workshop.present? %>
          <li><%= link_to "Next", workshop_comments_url(@workshop, :page_num => "#{@page_num + 1}", :page_size => "#{@page_size}") %></li>
          <li><%= link_to "Last", workshop_comments_url(@workshop, :page_num => "#{@last_page}", :page_size => "#{@page_size}") %></li>
        <% else %>
          <li><%= link_to "Next", comments_url(:page_num => "#{@page_num + 1}", :page_size => "#{@page_size}") %></li>
          <li><%= link_to "Last", comments_url(:page_num => "#{@last_page}", :page_size => "#{@page_size}") %></li>
        <% end %>
      <% else %>
        <% if @workshop.present? %>
          <li class="disabled"><%= link_to "Next", workshop_comments_url(@workshop, :page_num => "#{@page_num + 1}", :page_size => "#{@page_size}")%></li>
          <li class="disabled"><%= link_to "Last", workshop_comments_url(@workshop, :page_num => "#{@last_page}", :page_size => "#{@page_size}") %></li>
        <% else %>
           <li class="disabled"><%= link_to "Next", comments_url(:page_num => "#{@page_num + 1}", :page_size => "#{@page_size}")%></li>
          <li class="disabled"><%= link_to "Last", comments_url(:page_num => "#{@last_page}", :page_size => "#{@page_size}") %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>


<div cclass="accordian" id="email-log">
  <% @comments.each do |comment| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#email-log" href="#control<%= comment.id %>">
          <strong><%= comment.subject %> </strong>
          <span class="comment-from">From: <%= comment.try('user').try('display_name') %></span>
          <span class="pull-right"><small><%= time_ago_in_words comment.created_at %> ago</small></span>
        </a>
      </div>
      <div id="control<%= comment.id %>" class="accordion-body collapse" style="background-color: #FCFFCD">
        <dl class="dl-horizontal">
          <dt>From:</dt>
          <dd><%= comment.try('user').try('display_name') %> (<%= comment.try('user').try('email_address') %>)</dd>
        <% unless comment.recipients.empty? %>
          <dl class="dl-horizontal">
            <dt>Sent to:</dt>
            <% comment.recipients.each do |recipient| %>
              <dd><%= recipient.display_name %> (<%= recipient.email_address %>)</dd>
            <% end %>
          </dl>
        <% end %>
        <dl class="dl-horizontal">
          <dt>Message:</dt>
          <dd class="well well-small">
            <div style="white-space: pre-wrap"><%= comment.content %></div>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Time:</dt>
          <dd><%= l comment.created_at, format: :short_datetime %></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt></dt>
          <dd>
            <div class="btn-toolbar">
              <% unless @workshop.present? %>
                <div class="btn-group">
                  <%= link_to "Manage Workshop", schedule_workshop_url(comment.workshop), :class => "btn btn-small" %>
                </div>
              <% end %>
              <div class="btn-group">
                <%= link_to "Respond", "#", 'data-url' => new_workshop_comment_url(comment.workshop, :respond_to => comment.id), :class => "btn btn-small respond-to-comment-btn" %>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  <% end %>
</div>

<% end %>
