<!-- app/views/comments/_new.html.erb -->

<div class="row-fluid">
  <%= form_tag workshop_comments_path(@workshop), :id => 'response-form', :class=> 'comment-form' do %>
    <div class="span10">
      <div class="field">
        <%= label_tag "comment[subject]", "Subject" %>
        <%= text_field_tag "comment[subject]", @seed_subj, :class => 'subject input-xxlarge' %>
      </div>

      <div>
        <%= text_area_tag "comment[content]", @seed_msg, :cols => 50, :rows => 9, :class => 'content input-xxlarge' %>
      </div class="span6">
      <% if @recipients.present? %>
        <dl class="form-inline recipients">
          <dt>Send email to</dt>
          <% count = 1 %>
          <% @recipients.each do |recipient| %>
            <dd>
              <% if recipient.user.blank? %>
                <%= check_box_tag("email_addresses[]", "#{recipient.alt_email_address}", recipient.checked, :id => "email_to_#{count}") %>
                <%= label_tag("email_to_#{count}", "#{recipient.alt_display_name} (#{recipient.alt_email_address}) #{recipient.role}") %>
              <% else %>              
                <%= check_box_tag("email_recipients[]", recipient.user.id, recipient.checked, :id => "email_to_#{count}") %>
                <%= label_tag("email_to_#{count}", "#{recipient.user.display_name} (#{recipient.user.email_address}) #{recipient.role}") %>
              <% end %>
            </dd>
            <% count = count + 1 %>
          <% end %>
        </dl>
      <% end %>
      <!-- TODO: Add other addressees? -->
      <!-- 1. select arbitrary users and/or directory-users using typeahead? -->
      <!-- 2. include arbitrary unverified email addresses as strings? --> 
    </div>
  <% end %>
</div>
