
<%= render 'layouts/home_button' %>
<h1 class="manage-title">Recent Email</h1>

<%= render 'index' %>

<div id="respond-to-comment-div" class="modal hide fade modal-email" role="dialog" data-toggle="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="add-comment-div-head">Add Email Comment</h3>
  </div>
  <div id="comment-form" class="modal-body comment-form">
    <div id="response-div">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="save-comments btn btn-info btn-small">Save</button>
  </div>
</div>

