<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @comment.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Workshop:</b>
  <%= @comment.workshop.title %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user.display_name %>
</p>

<p>
  <b>Email to requester:</b>
  <%= @comment.email_to_requester %>
</p>

<p>
  <b>Email to contact:</b>
  <%= @comment.email_to_contact %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
