<!-- app/views/topic_categories/_form.html.erb -->

<%= form_tag(@submit_form_path, :method => @submit_form_method) do |f| %>
  <% if @topic_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic_category.errors.count, "error") %> prohibited this topic_category from being saved:</h2>

      <ul>
      <% @topic_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well-tzippy">
    <h2>Topic Category</h2>

    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt class='required-field' >Name</dt>
        <dd><%= text_field_tag "topic_category[name]", @topic_category.name, :id => 'topic.name' , :class => 'input-xlarge', :required => true %></dd>
      </dl>
    </div>
    <% unless @categories.blank? %>
      <div class="row-fluid">
        <dl class="dl-horizontal">
          <dt><%= label_tag "insert_after", 'Insert after' %><dt>
          <dd>
            <%= select_tag( "insert_after", options_from_collection_for_select(@categories, :id, :name, @categories.last.id), :id => 'insert_after' ) %>
          </dd>
        </dl>
      </div>
    <% end %>
  </div>


  <%= render 'layouts/save_cancel' , :link_path => topic_categories_path, :submit_text => 'Save' %>

<% end %>
