<!-- app/views/topic_categories/edit.html.erb -->

<div  class="data-content data-content-small">
<%= render 'layouts/home_button' %>
<h1 class="manage-title">Edit Topic Category</h1>

<%= render 'form' %>
</div>
