<!-- app/views/topic_categories/index.html.erb -->

<div  class="data-content data-content-small">
<%= render 'layouts/home_button' %>
<h1 class = "manage-title">Topic Categories</h1>

<% if can? :create, TopicCategory %>
  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to "Add a new Category", new_topic_category_path, :class => 'btn btn-link btn-small pull-right'%>
    <%= link_to "Reorder", topic_categories_reorder_path, :class => 'btn btn-link btn-small pull-right'%>
  </div>
<% end %>
<br><br>
<div class="well-tzippy">

  <table id="categories" class="table-striped datatable" data-source="<%= topic_categories_url(format: "json") %>"
    summary="List of Topic Categories used to categorize topics">
    <thead>
      <tr>
        <th data-col="name"  class="span5">Name</th>
        <th data-col="topic_count"  class="span1 text-center">Topics</th>
        <th data-col="order"  class="span1 text-center">Order</th>
        <th data-col="action_links" class="span1"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
   </table>

</div>
</div>
