<!-- app/views/topic_categories/new.html.erb -->

<div  class="data-content data-content-small">
<%= render 'layouts/home_button' %>
<h1 class = "manage-title">New Topic Category</h1>

<%= render 'form' %>
</div>
