<!-- app/views/topic_categories/index.html.erb -->
<div  class="data-content data-content-medium">
<%= render 'layouts/home_button' %>
<h1 class = "manage-title">Reorder Topic Categories</h1>

<div class="well-tzippy">
  <p>
  	Drag and drop categories within the list to change the order.
  </p>

  <ul class="category-reorder" id="category-reorder" data-url="<%= topic_categories_order_url %>" >
  	<% @topic_categories.each do |category| %>
		<li id="item_<%= category.id %>" data-id="<%= category.id %>" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= category.name %></li>
    <% end %>
  </ul>

</div>

<div class="btn-toolbar">
  <%= link_to "Done", topic_categories_path, :class => 'btn btn-mini btn-primary' %>
</div>
</div>
