<!-- app/views/reports/index.html.erb -->
<script type="text/javascript">
  var recent_url = "<%= recent_url %>";
</script>

<div class="data-content data-content-medium">
  <%= render 'layouts/home_button' %>
  <h1 class="manage-title">Library Instruction Sessions - Evaluation Links</h1>
  <br>
<% if logged_in? %>
  <ul id="recent-sessions-filters" class="recent-sessions nav nav-pills filter-list">
    <li class="pillbox-label">Filters:</li>
    <%= filter_button 'Recent',          'recent_for',       'All sessions taught within the last 10 days' %>
    <%= filter_button 'All My Sessions', 'allusersessions',  'All sessions you have taught' %>
    </li>
  </ul>
  <br>

<div class="container-recentdiv">
  <div class="datatable-component report well-tzippy">
    <table id="recent-sessions" class="recent-sessions  table-striped " style="width:100%" data-source="<%= recent_sessions_url(format: "json") %>" >
      <thead>
        <tr>
          <th class="text-left" data-col="workshop_scheduled_time">Session Date</th>
          <th class="text-left" data-col="workshop_session_title">Session Title <small><em>(click title to open evaluation)</em></small></th>
          <th class="text-left" data-col="instructors_all">Instructors</th>
<!--           <th class="text-center" data-col="evaluation_link">Link to Eval</th> -->
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</div>
<% end %>
