<!-- app/views/topics/_form.html.erb -->

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

<div class="well-tzippy">
  <h2>Topic Information</h2>

  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt><%= label_tag "title", 'Title', :class => 'required-field' %></dt>
      <dd><%= text_field_tag "topic[title]", @topic.title, :id => 'topic.title' , :class => 'input-xlarge', :required => true %></dd>
    </dl>

    <dl class="offset2 span4 dl-horizontal">
      <dt title = 'Inactive topics do not show up for selection to users making a request'>
        Active Topic</dt>
      <dd title = 'Inactive topics do not show up for selection to users making a request'><%= check_box('topic', 'active') %></dd>
    </dl>
  </div>

  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt><%= label_tag "category", 'Category', :class => 'required-field' %><dt>
      <dd>
        <%= select_tag( "category", options_from_collection_for_select(@categories, :id, :name), :id => 'topic.category', :required => true ) %>
      </dd>
    </dl>
  </div>

  <div class="row-fluid">
    <br>
    <dl class="dl-horizontal">
      <dt><%= label_tag "topic[description]", 'Description', :class => 'required-field' %></dt>
      <dd><%= text_area_tag "topic[description]", @topic.description, :id => 'topic.description',
        :class => 'input-xxlarge', :rows => 6, :required => true %>
      </dd>
    </dl>
  </div>
  <span class="required-field required-field-note "></span>
  <br>
</div>

<%= render 'layouts/save_cancel' , :link_path => topics_path, :submit_text => 'Save' %>

<% end %>
