<!-- app/views/topics/index.html.erb -->
<div class="data-content data-content-large">
  <%= render 'layouts/home_button' %>
  <h1 class = "manage-title">Topics</h1>

  <% if can? :create, Topic %>
  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to "Add a new Topic", new_topic_path, :class => 'btn btn-link btn-small pull-right'%>
  </div>
  <% end %>

  <ul id="topics-filters" class="nav nav-pills filter-list">
    <li class="pillbox-label">Filters: </li>
    <%= filter_button 'All',      'all',      'All topics' %>
    <%= filter_button 'Active',   'active',   'Only active topics', true %>
    <%= filter_button 'Inactive', 'archived', 'Only in-active topics'    %>
  </ul>

  <div class="well-tzippy">
    <table id="topics" class="table-striped datatable" data-source="<%= topics_url(format: "json") %>"
      summary="List of instructional topics available when making an instruction request">
      <thead>
        <tr>
          <th data-col="title_and_category" class="span4">Title</th>
          <th data-col="description"        class="span6">Description</th>
          <th data-col="active"             class="span1 active-label">Active</th>
          <th data-col="action_links"       class="span1"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
