<table class="row detail-popover" style="margin-bottom:10px">
  <tbody>
    <tr>
      <th class="span4">Title</th>
      <td class="span8">{{title}}</td>
    </tr>
    <tr>
      <th class="span4">Requested By</th>
      <td class="span8">{{requester_user_name}}</td>
    </tr>
    <tr>
      <th class="span4">Expected Attendance</th>
      <td class="span8">{{expected_attendance}}</td>
    </tr>
    <tr>
      {{#if scheduled_time_start_time}}
        <th>Scheduled Time</th>
        <td>
          {{short_day_long_month scheduled_time_start_time}}&nbsp;&nbsp;
          <small>{{standard_time scheduled_time_start_time}} - {{standard_time scheduled_time_end_time}}</small>
        </td>
      {{else}}
        <th>Requested Time(s)</th>
        <td>
        {{#joined_list all_requested_times}}
          {{short_day_long_month start_time}}&nbsp;&nbsp;
          <small>{{standard_time start_time}} - {{standard_time end_time}}</small>
        {{else}}
          <br/>
        {{/joined_list}}
        </td>
      {{/if}}
    </tr>
    <tr>
      <th>Instructors</th>
      <td>{{{instructor_list}}}</td>
    </tr>
    <tr>
      <th>Topics</th>
      <td>{{{topic_list}}}</td>
    </tr>
    <tr>
      <th><strong>Attachments</strong> </th>
      <td>
        {{#if attachment_count}}
          <a href="{{first_attachment_url}}">{{first_attachment_name}}</a>
          <span class="filesize">{{first_attachment_size}}</span>
          {{#ifmany attachment_count}} [{{attachment_count}} Attachments] {{/ifmany}}
        {{/if}}
      </td>
    </tr>
  </tbody>
</table>
<div class="button_details">
    <div>
        <button class=" btn btn-mini btn-primary " type="button ">Close</button>
    </div>
</div>

