{{#if can_view_eval}}
  <a href="{{eval_results_url}}"
    title="View Evaluation results for the {{title}} instruction session"
    {{#if can_schedule_workshops}} class="pull-left" {{/if}}
        target="_blank"><img src="{{asset "view_eval_results.png"}}" alt=""/></a>
{{/if}}

{{#if can_schedule_workshops}}
  {{#if paddit}}
  <span class="manage-link">
  {{else}}
  <span class="manage-link" style="padding-left:20px;">
  {{/if}}
  {{managed_by_initials}}</span>

  <a href="{{path "schedule_workshop"}}"
    class="action-links floatright"
    title="Manage the {{title}} session request">Manage</a>
{{/if}}
