{{#if can_add_stats}}
<a href="{{path "stats_workshop"}}" class="action-links"
  title="Add statistics for this session"><img src="{{asset "add16.png"}}"
  alt="Add stats for this session"/></a>
{{else}}
<a href="{{path "stats_workshop"}}" class="action-links"
  title="View statistics for this session"><img src="{{asset "view16.png"}}"
  alt="View statistics for this session"/></a>
{{/if}}
