<!-- app/views/session_sub_choices/_form.html.erb -->

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

<div class="well-tzippy">

  <h2>Session Type Option Information</h2>

  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt><%= label_tag "name", 'Name', :class => 'required-field' %></dt>
      <dd><%= text_field_tag "session_sub_choice[name]", @session_sub_choice.name, :id => 'session_sub_choice.name' , :class => 'input-xlarge', :required => true %></dd>
    </dl>

     <dl class="offset2 span4 dl-horizontal">
      <dt title = 'Inactive session type options do not show up for selection'>
        Active Sub-choice</dt>
      <dd title = 'Inactive session type options do not show up for selection'><%= check_box('session_sub_choice', 'active') %></dd>
    </dl>
  </div>

  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt><%= label_tag "session_type", 'Session Type', :class => 'required-field' %><dt>
      <dd>
     <%= select_tag( "session_type", options_from_collection_for_select(@session_types, :id, :name, @session_sub_choice.try(:session_type).try(:id) ) ) %>
      </dd>
    </dl>
  </div>

  <span class="required-field required-field-note "></span>
  <br>
</div>

<%= render 'layouts/save_cancel' , :link_path =>session_sub_choices_path, :submit_text => 'Save' %>

<% end %>
