<!-- app/views/session_sub_choices/edit.html.erb -->

<div  class="data-content data-content-medium">
<%= render 'layouts/home_button' %>

<h1 class = "manage-title">Edit Session Type Option</h1>

<%= render 'form' %>
</div>
