<!-- app/views/session_sub_choicess/index.html.erb -->
<div class="data-content data-content-medium">
  <%= render 'layouts/home_button' %>

  <h1 class = "manage-title">Session Type Option Choices</h1>


  <% if can? :create, SessionType %>
  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to "Add a new session type option", new_session_sub_choice_path, :class => 'btn btn-link btn-small pull-right'%>
  </div>
  <% end %>

  <ul id="session_sub_choices-filters" class="nav nav-pills filter-list">
    <li class="pillbox-label">Filters: </li>
    <%= filter_button 'All',      'all',      'All e sub-choices' %>
    <%= filter_button 'Active',   'active',   'Only active sub-choices', true %>
    <%= filter_button 'Inactive', 'archived', 'Only in-active sub-choices'    %>
  </ul>

  <div class="well-tzippy">
    <p class="options-msg">If a Session Type has optional choices, they will show up for selection on the Manage > Stats page when that Session Type is selected</p>
    <table id="session_sub_choices" class="table-striped datatable" data-source="<%= session_sub_choices_url(format: "json") %>"
      summary="List of optional choices assoicated with session types">
      <thead>
        <tr>
          <th data-col="name"           class="span3">Option Name</th>
          <th data-col="session_type_name"        class="text-left span4">Associated Session Type</th>
          <th data-col="active"         class="span1 active-label">Active</th>
          <th data-col="action_links"   class="span1"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
