<!-- app/views/session_sub_choices/new.html.erb -->

<div  class="data-content data-content-medium">
<%= render 'layouts/home_button' %>

<h1 class = "manage-title">New Session Type Optional Choice</h1>

<%= render 'form' %>
</div>
