<!-- app/views/users/edit.html.erb -->
<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

  <div class="well-tzippy">
    <h2>User Information</h2>

    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt><span class='required-field'>First Name</span></dt>
        <dd><%= text_field_tag "user[firstname]", @user.firstname, :id => 'user.firstname', :required => true %></dd>
      </dl>
      <dl class="offset1 span5 dl-horizontal">
        <dt>Role</dt>
        <dd><%= select 'user', 'role', get_roles() %>
          <a href="#role_info_Modal" role="button" data-toggle="modal"><%= image_tag('info.png', :style => "vertical-align:inherit") %></a>
        </dd>
      </dl>
    </div>

    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt><span class='required-field'>Last Name</span></dt>
        <dd><%= text_field_tag "user[lastname]", @user.lastname, :id => 'user.lastname', :required => true %></dd>
      </dl>
    </div>

    <div class="row-fluid">
      <dl class="span4 dl-horizontal">
        <dt><span class='required-field'>uniqname</dt>
        <dd><%= text_field_tag "user[uniqname]", @user.uniqname, :id => 'user.uniqname', :required => true,
            :class => 'input-small' %>
        </dd>
      </dl>
      <dl class="offset2 span4 dl-horizontal">
        <dt title="Inactive users do not show up when scheduling instructors">Active User</dt>
        <dd  title="Inactive users do not show up when scheduling instructors">
            <%= check_box('user', 'active') %>
        </dd>
      </dl>
    </div>

    <div class="row-fluid">
      <dl class="span8 dl user-dl">
        <dt>User's Calendar ID</dt>
        <dd><%= text_field_tag "user[calendar_url]", @user.calendar_url, :id => 'user.calendar_url', :class => 'input-xxlarge' %></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span8 dl user-dl">
        <dt><label for="unit">Unit</label></dt>
        <dd>
          <input class="input-xxlarge unit1" name="user[unit]" id="unit" type="text" value="<%= @user.unit %>"
           data-type="select2" data-units="<%= @units %>" autocomplete="off" placeholder='Enter unit name (click for selections)' data-pk="<%= @user.id %>" />
        </dd>
      </dl>
    </div>
  
    <span class="required-field required-field-note "></span>
    <br>
  </div>

  <%= render 'layouts/save_cancel' , :link_path => users_path, :submit_text => 'Save' %>

<% end %>

<% if @can_have_notification_preferences %>
  <div class="well-tzippy">
    <h2>Notification Rules</h2>
    <div class="scheduler-notifications-preferences" data-url="<%= user_notification_preferences_url(@user) %>">
    </div>
  </div>
<% end %>

<!-- modal form to display help info about roles -->
<div id="role_info_Modal" style="background-color:#FFFFCC;width:70%" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="role_info_ModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color:#FFE79F">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="role_info_ModalLabel">Explanation of Roles</h3>
  </div>

  <div class="modal-body">
    <table class="table row">
    <tbody>
      <tr>
        <th>Requester</th>
        <td>Requesters see only those sessions they have requested and/or those for which they are the contact. They can use the Request New Session button. They do not see the link to the Instruction Summary and do not see the Stats page for a session.</td>
        </tr>
        <tr><th>Librarian</th>
        <td>The Librarian role is used to grant access to Librarians who need to see the Instruction Summary. They can also make requests. Like Requesters, they see only workshops that they may have requested or for which they are the contact. The only difference between a Requester and a Librarian role is that those with the Librarian role have access to the Instruction Summary Link. </td>
        </tr>
        <tr><th>Instructor</th>
        <td>Those with the instructor role can 'claim' sessions to instruct. They can see requests which need an instructor, and any sessions they have requested, are the contact for, or are assigned as instructor. Instructors may add and view stats for sessions they have taught. They cannot schedule the time or location for a session. They have access to the Instruction Summary.</td>
        </tr>
        <tr><th>Scheduler</th>
        <td>Those with the scheduler role can choose the day/time of the session from the requested times (or schedule the session for a new time), assign a location, assign an instructor, and generally revise the request information. Schedulers see most everything and can revise most everything other than system and user configuration settings.</td>
        </tr>
        <tr><th>Admin</th>
        <td>Admins can do anything any of the other roles can do. They can see all sessions, archive sessions, edit all sessions and system configurations. Admins can change any user's role. They have complete access to all functions. </td>
      </tr>
    </tbody>
  </table>
  </tbody>
  </div>

  <div class="modal-footer" style="background-color:#FFFFCC">
    <button class="btn btn-info btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
