<!-- workshops/_search_form.html.erb -->
<div class="user-search-form searchdialog modal hide fade" style="width: 75%;padding: 1em; left:10%; margin-left: 0;">
  <div id="searchbox" role="search" aria-labelledby="globalSearchHead" class="modal-body searchbox">
    <span class="searchbox-text">Enter first and/or last name to find uniqname</span>
    <form method="get" action="<%= users_search_by_name_path %>" data-url="<%= users_search_by_name_path %>" id="user-search-form">
      <h2 id="globalSearchHead" class="structuralLabel">Search</h2>
      <input class="search-terms input-large" type="text" title="basic search: search by name" name="query" />
      <input class="btn btn-primary btn-small search-by-name" type="submit" data-url="<%= users_search_by_name_path %>" value="Search" />
    </form>
    <a class="gwt-Anchor" href="#advancedSearch" style="display:none;">Advanced Search</a>
    <button class="btn btn-small search-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
  <div class="clear">
  </div>
  <div id="user-search-results">
  </div>
  <div id="user-search-loading" style="display:none;">
    Loading ...
  </div>

</div>
