<div id="content" class="tabularListPage">
  <% if @results[:errors].present? %>
    <div class="errors">
      <ul>
        <% @results[:errors].each do |error| %>
          <li><%= error %>
        <% end %>
      </ul>
    </div>
    <% unless @searchTerms.blank? %>
      <p class="searchedFor">
        Searched For:
        <span class="terms"><%= @searchTerms %></span>
      </p>
    <% end %>
  <% elsif @results[:people].present? %>
    <div id="peopleContent" role="region" aria-live="polite">
      <h2 style="display:inline;">
        People
        <span class="numResults">(<%= pluralize(@results[:people].length, "Result") %>)</span>
      </h2>
      <aside class="results-text">Click on a name to choose that person</aside>
      <div class="loading" style="display: none;" class="loading">Loading...</div>
      <% unless @searchTerms.blank? %>
        <p class="searchedFor">
          Searched For:
          <span class="terms"><%= @searchTerms %></span>
        </p>
      <% end %>
      <table class="searchResults" summary="A table of people search results">
        <thead>
          <tr>
            <th scope="col">Name and Uniqname</th>
            <th scope="col">Also Known As</th>
            <th scope="col">Title and Description</th>
          </tr>
        </thead>
        <colgroup>
          <col class="name">
          <col class="other_names">
          <col class="title">
        </colgroup>
        <tbody>
          <% @results[:people].each do |person| %>
            <tr>
              <td>
                <div>
                  <a href="#" data-uniqname="<%= person.uniqname %>" class="possible-contact-link" alt="Choose <%= person.display_name %>"><%= person.display_name %></a>
                  <div class="uniqname"><%= person.uniqname %></div>
                </div>
              </td>
              <td>
                <% unless person.other_names.blank? %>
                  <ul class="other_names">
                    <% person.other_names.each do |other_name| %>
                      <li><%= other_name %></li>
                    <% end %>
                  </ul>
                <% end %> 
              </td>
              <td>
                <% unless person.titles.blank? %>
                  <ul class="titles">
                    <% person.titles.each do |title| %>
                      <li>
                        <span class="marker">•</span>
                        <%= title %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
                <% unless person.affiliations.blank? %>
                  <ul class="affiliation">
                    <% person.affiliations.each do |affiliation| %>
                      <li>
                        <span class="marker">•</span>
                        <%= affiliation %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
            </tr>
          <% end %>
         </tbody>
      </table>
    </div>
  <% end %>
    <div class="modal-footer">
    <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
 </div>
