<!-- app/views/users/index.html.erb -->
<div  class="data-content data-content-medium">
  <%= render 'layouts/home_button' %>
  <h1 class="manage-title">Users</h1>

  <% if can? :create, User %>
  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to "Add a New User", new_user_path, :class => 'btn btn-link btn-small pull-right' %>
  </div><br><br>
  <% end %>

  <%#
    No real filters for users -- active/archived are not really relevant since
    anyone can be a requester. We may consider parameterized filters for things
    like selecting by a given role.
  %>
  <div class="well-tzippy">
    <table id="users" class="table-striped datatable" data-source="<%= users_url(format: "json") %>"
      summary="List of Users - a place to edit their profile information">
      <thead>
        <tr>
          <th data-col="display_name" class="span4">Name</th>
          <th data-col="uniqname"     class="span2 text-left">Uniqname</th>
          <th data-col="role"         class="span2 text-left">Role</th>
          <th data-col='unit_assigned' class="span2 active-label">Unit Assigned?</th>
          <th data-col="active"       class="span2 active-label">Active</th>
          <th data-col="action_links" class="span1"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>




