<!-- app/views/users/options.html.erb -->
<div  class="data-content data-content-medium">
  <%= render 'layouts/home_button' %>
  <h1 class = "manage-title">User Preferences for <%= @user.display_name %> </h1>
  <br>


  <%= form_tag revise_options_user_path(@user), :method => 'put' do |f| %>
    <% if can? :schedule, Workshop %>

      <div class="well-tzippy">
        <h2>General</h2>
        <div class="row-fluid form-inline">
          <dl class="dl-horizontal">
            <dt><%= label_tag "calendar_url", 'Calendar ID'  %></dt>
            <dd>
              <%= link_to @user.calendar_url, '#',  'data-name' => 'calendar_url', 'data-type' => 'text', 'data-url' => revise_options_user_path(@user), 'data-inputclass' => 'input-xxlarge','class' => 'user_editable', 'data-emptytext' => 'Unknown', 'data-pk' => @user.id  %>
            </dd>
          </dl>
        </div>
      </div>

    <% end %>

    <%= link_to 'Done', workshops_path, :class => 'btn btn-mini btn-info' %>

  <br><br>

  <% end %>

  <div class="well-tzippy">
    <h2>Notification Rules</h2>
    <div class="scheduler-notifications-preferences" data-url="<%= user_notification_preferences_url(@user) %>">
    </div>
  </div>
</div>
