<!-- app/views/registrations/_form.html.erb -->

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

  <div class="well-tzippy">

  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Registration Application Info</h2>
  <br>

  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt class='required-field'>Application Name</dt>
      <dd><%= text_field_tag "registration[name]", @registration.name, :id => 'registration.name', :required => true %></dd>
    </dl>

    <dl class="offset2 span4 dl-horizontal">
      <dt title="Inactive registration connectons do not show up when selecting a registration app">Active registration</dt>
      <dd title="Inactive registration connectons do not show up when selecting a registration app">
        <%= check_box('registration', 'active') %>
      </dd>
    </dl>
  </div>

  <div class="row-fluid">
    <dl class="span8 dl">
      <dt class='required-field'>Registration Connection URL</dt>
      <dd><%= text_field_tag "registration[setup_url]", @registration.setup_url, :id => 'registration.setup_url', :class => 'input-xxlarge', :required => true %></dd>
    </dl>
  </div>

  <span class="required-field required-field-note "></span>
  <br>
</div>

<%= render 'layouts/save_cancel' , :link_path => registrations_path, :submit_text => 'Save' %>

<% end %>
