<!-- app/views/registrations/_index.html.erb -->
<div class="data-content data-content-medium">
  <%= render 'layouts/home_button' %>
  <h1 class="manage-title">Workshop Registration Connections</h1>

  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to 'Add New Connection', new_registration_path, :class => 'btn btn-link btn-small pull-right' %>
    </div>


  <ul id="registrations-filters" class="nav nav-pills filter-list">
    <li class="pillbox-label">Filters: </li>
    <%= filter_button 'All',      'all',      'All Registration systems' %>
    <%= filter_button 'Active',   'active',   'Only active Registration systems', true %>
    <%= filter_button 'Inactive', 'archived', 'Only in-active Registration systems'    %>
  </ul>

    <div class="well-tzippy">
      <table id="registrations" class="table-striped datatable" data-source="<%= registrations_url(format: "json") %>"
        summary="List of Registration systems">
        <thead>
          <tr>
            <th data-col="name" class="span4">Name</th>
            <th data-col="setup_url"     class="span6">Setup URL</th>
            <th data-col="active"       class="span2 active-label">Active</th>
            <th data-col="action_links" class="span1 actions-label"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>


