<!-- app/views/registrations/new.html.erb -->

<div class="data-content data-content-medium">
<%= render 'layouts/home_button' %>
<h1 class="manage-title">New Registration Application</h1>

<%= render 'form' %>
</div>