<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration.name %>
</p>

<p>
  <b>Setup URL:</b>
  <%= @registration.setup_url %>
</p>

<p>
  <b>Active:</b>
  <%= @registration.active %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
