<script type="text/javascript">
var App = App || {};
App.me = App.me || {};
var UserPreferences = UserPreferences || {};

<% if logged_in? %>
<%
me = {
  user_id: current_user.id,
  username: current_user.uniqname,
  role: current_user.role
}
user_prefs = {
  records_per_page: current_user.records_per_page,
  notify_new_request: current_user.notify_new_request,
  calendar_url: current_user.calendar_url
}
%>
jQuery.extend(App.me, <%= JSON.dump(me).html_safe %>);
jQuery.extend(UserPreferences, <%= JSON.dump(user_prefs).html_safe %>);
<% end %>
</script>
