<!-- app/views/reports/index.html.erb -->
<script type="text/javascript">
  var recent_url = "<%= recent_url %>";
</script>
<% if can? :claim, Workshop %>
  <%= render 'layouts/home_button' %>
<% end %>
<div class="data-content data-content-large">
<div class="well-tzippy">
  <table id="recent" class="table-striped datatable" data-source="<%= recent_url(format: "json") %>">
    <thead>
      <tr>
        <th class="text-left" data-col="workshop_scheduled_time">Session Date</th>
        <th class="text-left" data-col="workshop_session_title">Session Title  <small><em>(click title to open evaluation)</em></small></th>
        <th class="text-left" data-col="instructors_all">Instructors</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>
