<!-- app/views/calendars/_index.html.erb -->

<input type="hidden" id="chosen-start-time" value="@time_range.data_start_time" />
<input type="hidden" id="chosen-duration-minutes" value="@time_range.duration_minutes" />
<% if @instructors.present? %>
  <h4 id="available-instructors-head" tabindex="-1">Instructor availability for <%= @formatted_day %></h4>
  <div id="available-instructors">
    <table class='table'>
      <tr>
        <th id='name'>Instructor</th>
        <th id='email'>Email</th>
        <th id='status'>Status</th>
        <th id='view_calendar'></th>
        <th id='choose'></th>
      </tr>
      <% @instructors.each do |instructor| %>
        <tr class="instr-<%= instructor['status'] %>">
          <td header='name' class='display-name'><%= instructor['display_name'] %></td>
          <td header='email'><%= instructor['email_address'] %></td>
          <td header='status'><%= instructor['status'] %></td>
          <td header='view_calendar'>
            <button class='view-calendar btn btn-mini' type='button' data-action='' 
              data-calendar-id='<%= instructor['calendar_url'] %>' data-day="<%= @time_range.data_day %>" alt="view calendar for <%= @formatted_day %> for <%= instructor['display_name'] %>">VIEW</button>
          </td>
          <td header='choose'>
            <button class='btn btn-mini respond-to-comment-btn' type='button' data-url="<%= new_workshop_comment_url(@workshop, :instructor => instructor['id']) %>" data-day="<%= @time_range.data_day %>" data-time0="<%= @time_range.data_time0 %>" data-time1="<%= @time_range.data_time1 %>">
              EMAIL
            </button>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= link_to '', calendars_instructor_calendar_path, :id => 'view_calendar_url' %>
<% elsif @rooms.present? %>
  <h4 id="available-instructors-head">Rooms available for <%= @formatted_day %></h4>
  <div id="available-rooms">
    <table class='table'>
      <tr>
        <th id='name'>Room</th>
        <th id='building'>Building</th>
        <th id='seats'>Seats</th>
        <th id='computers'>Computers</th>
        <th id='status'>Status</th>
        <th id='view_calendar'></th>
        <th id='choose'></th>
      </tr>
      <% @rooms.each do |room| %>
        <tr class="instr-<%= room['status'] %>">
          <td header='name' class='display-name'><%= room['name'] %></td>
          <td header='building'><%= room['building'] %></td>
          <td header='seats'><%= room['seats'] %></td>
          <td header='computers'><%= room['computers'] %></td>
          <td header='status'><%= room['status'] %></td>
          <td header='view_calendar'>
            <% if 'free' == room['status'] || 'busy' == room['status'] %>
              <button class='view-calendar btn btn-mini' type='button' data-action='' 
              data-calendar-id='<%= room['calendar_url'] %>' data-day="<%= @time_range.data_day %>" data-time0="<%= @time_range.data_time0 %>" data-time1="<%= @time_range.data_time1 %>">VIEW</button>
            <% end %>
          </td>
          <td header='choose'>
            <button class='btn btn-mini choose-location' type='button' data-action="<%= choose_location_workshop_url(@workshop) %>" data-value="<%= room['id'] %>" data-day="<%= @time_range.data_day %>" data-time0="<%= @time_range.data_time0 %>" data-time1="<%= @time_range.data_time1 %>">
              CHOOSE
            </button>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= link_to '', calendars_room_calendar_url, :id => 'view_calendar_url' %>
<% end %>
