<!-- app/views/updates/_index.html.erb -->

<div >
  <span class="span4 noti-header" >Update</span>
  <span class="span3 noti-header">Session Title</span>
  <span class="span3 noti-header">When</span>
</div>

<% @updates.each_with_index do |update, index| %>
  <% if update.seen %>
    <li class="update-seen span11"
  <% else %>
    <li class="update-new span11"
  <% end %>
      <%if index % 2 == 0 %>  style="background-color:#FFFAAE"
      <% else %> style="background-color:#FFF28E"
      <% end %>
    >
     <% unless update.seen%>
      <%= link_to 'new', '#', :data => { :url => user_update_url(@user, update) }, :class => 'mark_seen_link', :style => 'display:none;' %>
     <% end %>

    <span class="update-title span4 update-col">
      <%= update_title update %>
    </span>
    <span class="update-workshop-link span3">
      <%= link_to "#{update.workshop.title}", schedule_workshop_path(update.workshop) %>
    </span>
    <span class="update-time span3">
      <%= time_ago_in_words update.created_at %> ago
    </span>
  </p>
  </li>
<% end %>
