<!-- app/views/updates/index.html.erb -->

<div>
  <div class="row-fluid">
    <div class="span6">
      <h1>Recent updates</h1>
    </div>
    <div class="span4">
      <button class="btn btn-link updates-reload" type="button" style="display:none;" data-url="<%= user_updates_url(current_user) %>">
        Show latest updates
      </button>
    </div>
  </div>
  <ul>
    <%= render 'index' %>
  </ul>
</div>
