$(document).ready(function() {

  $("#datetimepicker_report_start").datepicker({
                language: 'en',
                pickDate: true,
                pickTime: false
  });

  $("#datetimepicker_report_end").datepicker({
              language: 'en',
              pickDate: true,
              pickTime: false
  });

  var columnOpts = {
    format_created_date:                { sClass: "text-center" ,mRender: sortByOther('created_at')},
    format_date:                        { sClass: "text-center", mRender: sortByOther('scheduled_time_start_time') },
    workshops_statistics_participants:  { sClass: "text-center", sType: 'numeric' },
    format_phys_items:                  { sClass: "text-center" },
    format_id:                          { sClass: "text-center" }
  };

  var options = {
    "sDom": '<"row-fluid"<"span4"lC><"span1"r><f><"span3"T>><"reportwrap"t><"row-fluid"<"span6"i><"span6 pull-right"p>>',
    "oTableTools": {
      "sSwfPath": '<%= asset_path("dataTables/extras/swf/copy_csv_xls_pdf.swf") %>',
      "aButtons": [
                    { "sExtends": "copy",
                      "mColumns": "visible"
                    },
                    { "sExtends": "print",
                      "mColumns": "visible"
                    },
                    { "sExtends": "xls",
                      "mColumns": "visible"
                    },
                    { "sExtends": "pdf",
                      "sPdfOrientation": "landscape",
                      "mColumns": "visible"
                    }
                ]
    },
    "oColVis": {
      "buttonText": 'Show / hide columns <span class="caret">'
    },
    iDisplayLength: 100
  };

  var reportsDT = setupDataTable('#reports', { columnOpts: columnOpts, filters: '#reports-filters' }, options);

  // The plugin function for adding a new filtering routine
  if ($('#reports').length > 0) {
    // The plugin function for adding a new filtering routine
    $.fn.dataTableExt.afnFiltering.push(
      function(oSettings, aData, iDataIndex){
      var dateStart = Date.parse($("#dateStart").val()) || 0;
      var dateEnd  = Date.parse($("#dateEnd").val()) ;
      var evalReportSubmissionDate = Date.parse(oSettings.oInstance.fnGetData(iDataIndex).created_at);
      if (evalReportSubmissionDate >= dateStart && evalReportSubmissionDate <= dateEnd) {
        return true;
      }
      else {
        return false;
      }
    });
  };

  // The dataTables plugin creates the filtering and pagination controls for the table dynamically, so these
  // lines will clone the date range controls currently hidden in the baseDateControl div and append them to
  // the feedbackTable_filter block created by dataTables
  $dateControls= $("#baseDateControl").children("div").clone();

  $("#feedbackTable_filter").prepend($dateControls);

  // Create event listeners that will filter the table whenever the user types in either date range box or
  // changes the value of either box using the Datepicker pop-up calendar
  $("#dateStart").keyup ( function() { reportsDT.fnDraw(); } );
  $("#dateStart").change( function() { reportsDT.fnDraw(); } );
  $("#dateEnd").keyup ( function() { reportsDT.fnDraw(); } );
  $("#dateEnd").change( function() { reportsDT.fnDraw(); } );

});

