<!-- app/views/units/_form.html.erb -->

  <%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

<div class="well-tzippy">
  <br>
  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt class='required-field' >Name</dt>
      <dd><%= text_field_tag "unit[name]", @unit.name, :id => 'unit.name' , :class => 'input-xlarge', :required => true %></dd>
    </dl>
  </div>
  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt title = 'Inactive unit choices do not show up for selection'>
        Active Choice</dt>
      <dd title = 'Inactive unit choices do not show up for selection'><%= check_box('unit', 'active') %></dd>
    </dl>
  </div>

  <span class="required-field required-field-note "></span>
  <br>
</span>
</div>

<%= render 'layouts/save_cancel' , :link_path => units_path, :submit_text => 'Save' %>

<% end %>
