<!-- app/views/units/edit.html.erb -->

<div  class="data-content data-content-small">
<%= render 'layouts/home_button' %>
<h1 class = "manage-title">Edit Unit Choice</h1>

<%= render 'form' %>
</div>