<!-- app/views/units/index.html.erb -->
<div class="data-content data-content-small">
  <%= render 'layouts/home_button' %>
  <h1 class = "manage-title">Unit Name Choices</h1>

  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to "Add a Unit Name", new_unit_path, :class => 'btn btn-link btn-small pull-right'%>
    </div>

  <ul id="units-filters" class="nav nav-pills filter-list">
    <li class="pillbox-label">Filters: </li>
    <%= filter_button 'All',      'all',      'All Unit names' %>
    <%= filter_button 'Active',   'active',   'Only active Unit names', true %>
    <%= filter_button 'Inactive', 'archived', 'Only in-active Unit names'    %>
  </ul>

  <div class="well-tzippy">
    <table id="units" class="table-striped datatable" data-source="<%= units_url(format: "json") %>"
      summary="List of Unit choices available for selection when entering stats">
      <thead>
        <tr>
          <th data-col="name"         class="span4">Name</th>
          <th data-col="active"       class="span1 active-label">Active</th>
          <th data-col="action_links" class="span2 actions-label"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
