/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require custom
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables.bootstrap
 *= require dataTables/extras/TableTools
 *= require_tree .
 *= require bootstrap-datetimepicker
 *= require bootstrap-editable
 *= require fullcalendar
 *= require jquery.timepicker.css
 *= require jquery.pnotify.default
 *= require select2
 */


/*.footer a.email-text:hover, .footer a.email-text:focus  {
    color: #0000CC;
}*/

/* not used ?
.input-medium-filter {
    width: 150px;
    background-color: #FFFAAA;
    border-radius: 10px 10px 10px 10px;
    background-image: -moz-linear-gradient(center top, rgb(255, 250, 174), rgb(255, 223, 158));
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 25px;
    color: black;
}
*/


/* originally #FFFFCC, which is yellow for the entire 'row', not needed, must have been overridden elsewhere
.nav-tabs, .nav-pills {
    background-color: $navBackground;
}
*/

/* don't bother
textarea, input[type="text"] {
    color: #222222;
}
*/

/* not used? */
/*title:hover {
color: black;
font-size: large;
}*/


/* not being used ?

a.revise-scheduled-time {
    border-bottom: 1px dashed red;
    text-decoration: none;
}
*/

