$grayMediumLight: #eaeaea;
$libraryBlue: #345477;

$navbarText: $libraryBlue;
$navbarBrandColor: $libraryBlue;
$navbarBackground: white;
$navbarBackgroundHighlight: white;
$navbarLinkBackgroundHover: white;
$navbarLinkBackgroundActive: white;
$navbarLinkColor: $libraryBlue;
$navbarLinkColorHover: $libraryBlue;

@import "bootstrap";

/* mixins, variables, etc. */
$lightStripe: #FFFAAE;        /* light yellow - light table stripe, filter button background */
$darkStripe: #FFF28E;         /* a bit darker yellow - dark table stripe */
$tableHeader: #FFE79F;        /* beigy yellow - header row in tables */
$tableHeaderBottom: #FFA81E;  /* gold - bottom border of table header row */
$wellTzippy: #FCFFCD;         /* slightly lighter yellow than the lightStripe - well-tzippy background, filter button */

/* background related colors*/
$navBackground: #FFFFCC;      /* light yellow - left nav tab column background */
$activeTab: #F5B800;          /* maize - background color of the left nav column tab when it is active */
/* $link: #0088CC;               light bluish/tourquoise - link and command bar item, hr separater color, filter button text */
$link: #000F83;               /* darker blue to get better contrast per accessibility checklist 14

/* calendar row colors to depict free, busy, etc. */
$free: #99CC66;               /* light green */
$busy: darksalmon;            /* sort of red */
$noneAvailable: lightblue;
$roomSelected: #E8E8E8;       /* light gray */

$fakeInput: #EEEEEE;          /* light grey - to mimic input box backgrounds for topics selected list */
$placeHolder: #AAAAAA;        /* medium grey - placeholder text color */
$darkCharcoal: #222222;       /* dark charcoal, near black */

/* universal */

html {
  overflow-y: scroll;
}

body {
  color: black;
  padding-top:15px;
}

.markrow { background-color:#EDEDED !important; }

.dataTables_processing { @extend .text-center; }

.modal {
  position: absolute;
}

.ColVis_MasterButton {
  @extend .btn;
  @extend .btn-small;
}

.ColVis_Button {
  text-align: left;
}

.well-tzippy {
  @expand .well;
  background-color: $wellTzippy;
  min-height: 10px;
  padding: 0 0 10px 10px;
  margin-bottom: 10px;
}

/* to avoid a horizontal scrollbar on the registration tab page */
.reg-well .row-fluid {
  width: 90%;
}

div.topic-picker {
  background-color: $wellTzippy;
}

input[type=checkbox], input[type=radio] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

/* ----------- tables -------------*/
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: $lightStripe;
}

.table-striped tbody > tr:nth-child(2n) > td, .table-striped tbody > tr:nth-child(2n) > th {
  background-color: $darkStripe;
}

table th.normal-text {
  font-weight: normal;
}

table th[role="row"] {
  font-weight: bold;
}

.data-content {
  margin: auto;
}

.data-content-small {
  min-width: 400px;
  max-width: 600px;
}

.data-content-medium {
  min-width: 500px;
  max-width: 900px;
}

.data-content-large {
  @expand .data-content;
  min-width: 900px;
  max-width: 1200px;
}

/* TODO: Remove this once views are audited -- having a rule for the child
 * selector is more trouble than it's worth. Just style the table.
 */
.datatable-component table {
  width: 100%;
}

/* TODO: Make sure that all the admin views get the datatable class on their tables */
table.datatable {
  width: 100%;
}

table th.active-label {
  text-align: center;
}

/* add column separator in header to help figure out which col is sortable */
.well-tzippy tr[role="row"] th {
  border-color: $tableHeaderBottom !important; /* this seems to need !important to get it to work - a moz override... */
  border-right: thin solid;
  border-left:  thin solid;
  padding-left: 4px ;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

tr[role="row"] {
  border-bottom: thin solid $tableHeaderBottom;
  background-color: $tableHeader;
}

tr.instr-busy, tr.room-busy {
  background-color: $busy;
}
tr.instr-free, tr.room-free {
  background-color: $free;
}
tr.instr-no, tr.room-no, tr.instr-no-calendar, tr.room-no-calendar, tr.instr-, tr.room- {
  background-color: $noneAvailable;
}

tr.room-selected, tr.instructor-selected, dd.room-selected, dd.instructor-selected {
  background-color: $roomSelected;
}

table td.active-attr {
  // text-align: right;
  // padding-right: 18px;
  text-align: center;
}

td {
  padding-bottom: 4px;
  padding-top: 4px;
}

.filter-list {
  margin-bottom: -5px;
}

/* ----------- containers -------------*/
.container-reportdiv {
  margin: 20px;
}

.container-reportdiv .row-fluid {
  margin: 10px auto;
}

.container-reportdiv .reportwrap {
  font-size: smaller;
  overflow: auto;
  border: 1px ridge gray;
  padding: 5px;
}

.container-reportdiv table {
  min-width: 2000px;
}

/* ----------- header/footer -------------*/
/* Match up headings with a pull-left / pull-right button bar */
.page-head {
  border-bottom: 1px solid #999;
  padding-top: 4px;
  padding-bottom: 2px;

  .page-head-actions {
    margin: 4px 0px;
  }
}

.footer a.email-text {
  margin: -25px -10px 0 0;
}

header .hr-section {
  margin-top: -10px;
}

header {
  margin: auto;
  width: 95%;
}

footer a {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  text-align: center;
  margin: auto;
  width:95%;
}

hr.hr-section {
  border-color: $link;
  margin-bottom: 5px;
}

.topic  .hr-footer {
  margin-bottom: 2px ;
  margin-top: 2px ;
}

.info-banner {
  float:right;
  background-color: $navBackground;
  border-color: $activeTab;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-right: 25px;
}

.toolbar-2nd {
  width: 300px;
  border-radius: 4px 4px 4px 4px;
  background-color: whitesmoke;
  border-bottom-style:solid;
  border-bottom-width:thin;
  border-bottom-color:gainsboro;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color:gainsboro;
}

/* -----------headings -------------*/
h1, h2, h3{
  line-height: 20px;
}

h1 { font-size: 22px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }

h4 {
  margin: 12px 0px 0px;
}

/* -----------Request button -------------*/
.request-btn {
  text-shadow: none;
  font-weight: bold;
  border-color: paleturquoise;
  border-style: double;
  border-radius: 6px;
  background-color: midnightblue;
  background-image: linear-gradient(to bottom, mediumblue, darkblue);
}

 .request-btn:hover {
  background-color: blue;
  background-image: linear-gradient(to bottom, slateblue, blue);
}

/* -----------lists -------------*/

ul {
  list-style-type: none;
  margin-left: 15px;
}

.dl-horizontal {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.dl-horizontal dt {
  white-space: normal;
}

dl.show-form-addtional-info dt{
  margin-right:10px;
  margin-bottom:8px;
}

dl.show-form-addtional-info dd{
  margin-bottom: 8px;
}
dl.show-form-addtional-info a {
  vertical-align: top;
}

 .user-dl {
  margin: 0 0 0 23px !important;
}

.qualtrics_setup .dl-horizontal dt {
  width: auto;
}

.qualtrics_setup .dl-horizontal dd, .qualtrics_setup .dl dd {
  margin-left: 30px;
  float: left;
}

.select-url {
  margin-left: 20px;
  float: left;
  font-size:smaller;
  cursor:pointer;
}

.eval-label {
  float: left;
  margin-left: 20px;
  margin-bottom: 0px;
}

.eval-results-comment {
  @extend .smaller-italic;
  float: left;
  font-weight: normal;
}

#eval-setup-comment {
  @extend .smaller-italic;
  margin-left: 40px;
  float: left;
}

.options-msg {
  margin: 10px 10px 20px 10px;
  font-style:italic;
}

.manage-link {
  @extend .smaller-italic;
}

#created-eval-url, #short-eval-url {
  background-color: $darkStripe !important;
  border-style: none;
  font-size: small;
  color: black;
  cursor:pointer;
}

#show-eval-url {
  background-color: $wellTzippy;
  border-style: none;
  font-size: small;
  color: black;
  cursor:pointer;
  margin-top: -6px;
}

/* -----------text formatting -------------*/
.alert-info-show {
  color: black;
  font-style: italic;
  font-size: larger;
}
.nav-pills li.pillbox-label{
  padding-bottom: 0px;
  padding: 5px 0 0;
  font-size: small;
}

a, .btn-link  {
  color: $link;
}

.smaller-italic {
  font-size: smaller;
  font-style: italic;
}

.link-pipe {
  margin: 0 10px;
}

#app-toolbar {
  margin-bottom: 10px;
}

img#lib-logo {
  max-width: none;
}

label {
  font-weight: bold;
  margin-right: 8px;
}

.topics-count {
  margin-left: 30px;
  margin-right: 5px;
  display: inline;
  font-weight: bold;
}

.topic-description {
  margin-left: 36px;
  margin-bottom: 5px;
  margin-top:-5px;
  background-color: $lightStripe;
}

.topic-category {
  color: white;
  background-color: #345477;
  padding: 2px 0 2px 10px;
  font-size:larger;
}

.attach_label {
  padding-top: 5px !important;
}

.legend {
  line-height: 10px !important;
  border-style: none none none !important;
  margin-bottom: 8px !important;
  font-style:bold;
  font-color: darkgrey;
}

  /* used to make the topic selection list show up in what looks like an input box */
.fakeinput {
  background-color: $fakeInput;
  width: 70%;
  border-width: thick;
  border: 1px solid;
  border-color: lightgrey;
  border-radius: 4px;
}
.fakeinput p {
  margin: 0 0 0 5px;
}

.placeholder {
  color: $placeHolder;
}

/*used for the action linke (e.g. Manage, Edit,..) at the far right of lists of things - dashboard, locations, ...*/
.action-links {
  font-size: small;
  padding-right: 8px;
  text-align: center;
}

.required-field-note {
  float: right;
  margin-right: 25px;
}

.required-field:before {
  font-size: larger;
  color: red;
  font-weight: bold;
  content: "* ";
}

.required-field-horiz:after {
  color: red;
  font-weight: bold;
  content: " *";
}

.required-field-note:after {
  font-size: small;
  font-style: italic;
  font-color: grey;
  content: 'marks a required field ';
}

.none {
  font-style: italic;
  font-size: small;
  color: dimgrey;
}

.physical_items {
  margin-top:-25px;
  margin-left: 295px;
}

.tab-pane h2 {
    margin-bottom: 10px;
    width: 200px;
}

#sched-pager {
   width: 200px;
   margin: -32px 0 0 150px;
   float: left;
}

#review-sched-pager #sched-pager {
  margin: 10px 0 0 0;
}

.text-error {
    margin-right: 10px;
    font-style: italic;
    font-weight: bold;
}

.text-notice {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 3px;
  font-style: italic;
  font-weight: bold;
}

.unarchive-action, .archive-btn, .icon-ok, .floatright {
    float: right;
}

.calendar-msg {
    color: midnightblue;
}

/* I don't think this is used anymore for google stuff */
.google-authz-true, .google-authz-false, .filesize {
  font-style: italic;
  font-size: smaller;
}

.stats_notes {
  margin: 0 0 -30px 70px;
  padding-bottom: -30px;
  float: left;
}

.instructor_help {
    font-style: italic;
    font-weight: bold;
    font-size: small;
    color: dimgrey;
}

/* ----------- popover, modals-------------*/
.popover {
  max-width: 500px;
}

.popover-title {
  background-color: $tableHeader;
}

.popover-content .row {
  margin-left: 0
}

.detail-popover>tbody>tr, .detail-popover>tbody>tr>td {
  padding: 3px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px 0 1px 0;
}

#select-topics-div.modal {
  left: 30%;
  width: 70%;
  height: 80%;
}

.modal-body {
  padding: 0 15px;
}

#select-topics-div .modal-body {
  max-height: 90%;
}

body .modal-email {
  /* new custom width */
  width: 600px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -300px;
}

/* ----------- buttons -------------*/
/*seems that ffox only treats an input button differently - was not able to find any other way around it
  This is so that the save button appears same size as cancel in ffox */
@-moz-document url-prefix() {
  .btn-save { padding: 2px 7px 3px 7px; }
}

.btn {
  line-height: 18px;
}

.email-room-support-div dl dd{
  margin-top: -20px;
}

/* ----------- instruction activity report page -------------*/
#reports  {
  border-width: 2px;
  border-spacing: 1px;
  border-collapse: separate;
}

#reports thead tr[role="row"] {
  font-size: 12px;
  line-height: 12px !important;
}

#reports td, #reports tr{
  padding: 3px;
  line-height: 15px;
}

#reports_length.dataTables_length {
  float: none;
  margin-left:30px;
}

/* ----------- left hand column tabs, manage page content -------------*/
.nav-tabs {
  background-color: $navBackground;
  font-weight: bold;
}


// These come from Bootstrap's _navs.css.scss; can't extend because of nested selectors:
// .nav-pills > li     ----> pill-item
// .nav-pills > li > a ----> pill-content
%pill-item {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

%pill-content {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}

// For labels (as li's) that do not turn into pills, both are combined.
li.pillbox-label {
  @extend %pill-item;
  @extend %pill-content;
  /* color: #666; */
}

#workshops-filters  li.pillbox-label {
  padding-bottom: 0px;
}

#workshops-filters {
  margin-bottom: 1px;
}

.nav-pills, .filter_buttons {
  background-color: white;
}

  /* nav-pills are controls on datatables */
.nav-pills > li > a {
  font-size: smaller;
  background-color: $wellTzippy;
  /* color: $link; */
  margin-right: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  display: normal;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  color: black; /* the active filter text color */
  background-color: $tableHeader;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus  {
  background-color: $activeTab;
}

.tabs-left > .nav-tabs {
  border: 5px solid gainsboro;
}

.tab-content {
  background-color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
}

.li-dashboardlink {
  background-color: none;
  border: 0px;
}

.tabbable {
  margin-left: -20px;
}

.manage-title {
  text-align: center;
  margin-top: -30px;
}

/* ----------- inputs, selects -------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

select {
  width: auto;
}
select, textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"], .uneditable-input {
  height: auto;
  padding: 2px 3px;
}

input[type="checkbox"] {
  line-height: normal;
  margin: 0 4px 0 0;
}

input[type=radio], input.radio {
  float:left ;
  clear:none ;
  margin: 2px 0 0 2px ;
}

.radios, .topics {
  float:left;
  clear:none;
  overflow:hidden;
}

label[type=radio], label[type=checkbox] {
  padding-left: 30px;
}

/* for the choice that removes the radio button selection */
.clear_choice {
  @expand label;
  font-style: italic;
  color: $libraryBlue;
  margin-top:-1px !important;
  font-size: small;
  margin-left: -30px;
}

.req_form_eval_choice {
  margin-left:180px;
}

.draggable-help {
  width: 300px;
  padding: 1em;
  border: 1px solid $placeHolder;
  color: $darkCharcoal;
  background-color:  whitesmoke;
}


/* -----------datatable stuff -------------*/
div.dataTables_length label , div.dataTables_filter label {
  font-size: smaller;
  font-weight: normal;
}

select[multiple], select[size] {
  font-size: small;
  height: 20px;
  padding: 0;
}

div.dataTables_filter input, div.dataTables_filter textarea, div.dataTables_filter .uneditable-input {
  height: 15px;
  font-size: small;
}

.pagination ul > li > a, .pagination ul > li > span  {
  float: none;
  line-height: 10px;
  padding: 2px 8px;
  font-size: small;
}

.dataTables_info {
  font-size: smaller;
}

/* ----------- topics and categories related stuff -------------*/
.category-title {
  background-color: $libraryBlue;
  margin: 2px;
  padding: 5px 10px;
  border-color: $libraryBlue;
  border-style: solid;
  border-width: 2px;
  color: whitesmoke;
}

.topics-accordion-toggle {
  background-color: whitesmoke;
  margin: 2px;
  padding: 5px 10px;
  border-color: steelblue;
  border-style: solid;
  border-width: 2px;
  color: steelblue;  
}

.btn-block aside {
  padding-left: 30px;
  display: inline;
}

.category-reorder {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.category-reorder li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}

.category-reorder li span {
  position: absolute;
  margin-left: -1.3em;
}

/* 
  begin -----------------------
  for contact-user-form search and results 
  based on mcommunity's directory.css
*/

.searchdialog {
  font: 62.5%/1.25 "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
  // color: #333333;
  margin: 0;
  padding: 0;
}
.searchdialog h2, .searchdialog legend {
    font-size: 1.4em;
}
.searchdialog p, .searchdialog li, .searchdialog td, .searchdialog th {
    font-size: 1.2em;
    margin-bottom: 0.8em;
}
.searchdialog a, .searchdialog a:visited {
    color: #024697;
    text-decoration: none;
}
.searchdialog a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.searchbox {
    border-radius: 0.66em 0.66em 0.66em 0.66em;
}
.searchbox {
    background-color: #D3D3D3; /* #F5F5F5; */
    border: 1px solid #BEBFB1;
    /* float: right; */
    padding: 1em;
    white-space: nowrap;
}
.searchbox input {
    margin: 0 0.1em 0 15px;
    /* width: 20em; */
    border-color: $tableHeaderBottom;
}
.searchbox form {
  margin: 0;

}
.searchbox button {
    margin-right: 0.5em;
    /* padding: 0.33em 0.4em; */
}
.searchbox table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    // min-width: 92%;
}
.searchbox-text {
    float: left;
    margin-top: 5px;
    font-size: larger;
}
.search-terms {
  margin-bottom: 0px;
}
.structuralLabel {
    line-height: 1px;
    overflow: hidden;
    position: absolute;
    text-indent: -9000px;
    width: 1px;
}
.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
}
.searchdialog #content {
    padding: 1em;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #BEBEB2 #BEBEB2;
    border-image: none;
    border-right: 1px solid #BEBEB2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}
.searchedFor {
    color: #666666;
    float: right;
    margin-right: 1.2%;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
}
.searchedFor .terms {
    color: #000000;
}
.loading {
    background: url("moduleLoading.gif") no-repeat scroll center 1em rgba(0, 0, 0, 0);
    height: 50px;
    overflow: hidden;
    //text-indent: -9000px;
}
.tabularListPage table {
    border: medium none;
    border-spacing: 0;
    margin: 0 0.5em 2em 0.6em;
    width: 96%;
}
.tabularListPage td {
    border-bottom: 1px solid darkgrey; //#EFEFEF;
    color: #000000;
    font-size: 1.33em;
    height: 3em;
    vertical-align: top;
    margin-bottom: 0.8em;
    min-width:10em;
}
.tabularListPage th, .tabularListPage td {
    padding: 0.5em;
    text-align: left;
}
.tabularListPage thead th {
    font-size: 1px;
    padding: 0;
    text-indent: -9000px;
}
.tabularListPage .titles {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    //min-width: 45em;
    list-style: none outside none;
}
.tabularListPage .other_names {
    //min-width: 10em;
}
.tabularListPage .name  {
    //min-width: 10em;
}
.tabularListPage .title {
    //min-width: 10em;
}
.tabularListPage .titles li {
    display: inline;
    font-size: 1em;
    padding-right: 0.4em;
}
.tabularListPage .other_names li {
    line-height: 10px;
    color: #656565;
    font-size: 0.85em;
    margin-top: 0.25em;
}
.tabularListPage .titles li span.marker {
    color: #999999;
    padding-right: 0.4em;
}
.tabularListPage .titles li:first-child span.marker {
    display: none;
}
.tabularListPage .affiliation li, .tabularListPage .uniqname {
    color: #656565;
    font-size: 0.85em;
    margin-top: 0.25em;
}
.tabularListPage .affiliation {
    list-style: none outside none;
}
.tabularListPage .affiliation li {
    display: inline;
    padding-right: 0.4em;
}
.tabularListPage .affiliation li span.marker {
    color: #999999;
    padding-right: 0.4em;
}
.tabularListPage .modal-footer {
  padding: 3px;
  background-color: #D3D3D3;
}
.tabularListPage .affiliation li:first-child span.marker {
    display: none;
}
.searchdialog .errors {
    background: url("error.png") no-repeat scroll 0.4em center #FFE9E9;
    border-color: #FBC2C4;
    color: #990000;
}
.searchdialog .errors, .searchdialog .warning, .searchdialog .infoBox, .searchdialog .success {
    border: 1px solid #CCCCCC;
    margin: 0 auto 1.4em;
    padding: 1.4em 0.6em 0.4em 4em;
    text-align: left;
}
.searchdialog .errors {
    background: url("error.png") no-repeat scroll 0.4em center #FFE9E9;
    border-color: #FBC2C4;
    color: #990000;
}
.search-cancel {
  float: right;
  margin-top:-22px;
}
.results-text {
  display: inline;
  font-size:140%;
  margin-left:40px;
  color:forestgreen;
}
/* 
  end -------------------------
  for contact-user-form search and results 
  based on mcommunity's directory.css
*/

.contact .control-group .controls {
  margin-top: -2px;
}

/* ----------- notification preferences -------------------- */

.npref-form {
  backgraound-color: yellow;
}

/* ----------- miscellaneous -------------*/
.qualtrics_setup {
  background-color: $darkStripe;
  border-color: $activeTab;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  padding-bottom: 20px;
}

/* override the bootstrap too light colored column sort available indicator */
 .sorting, #reports .sorting {
  background: url('sort_both.png') no-repeat center right !important;
}

.accessibility-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  font-size: small;
}

.pseudo-label {
  font-weight: bold;
  lineheight: 20px;
  margin-bottom: 5px;
  margin-right: 8px;
  display: inline-block;
}

.invalid-time-range {
  // placeholder for a way to highlight invalid dates
  border: 1px ridge red;
}

.form-horizontal .control-label {
  padding: 0;
}

.form-horizontal .control-group {
    margin-bottom: 8px;
}

.requested-date > legend {
  margin-left: 20px;
  font-size: small;
}

.reqtime-label{
  display: inline;
  margin-left: 30px;
}

.show_page .ws-pager {
  margin: 0 0 -25px 260px;
}

.tab-pane .ws-pager {
  margin: 10px 0 -20px 0;
}

/* -------------- notifications -------------------- */
#np_active_checkbox {
  margin: -13px 0 0 0 ;
}

.npref-save, .npref-cancel {
  font-size: small;
  margin: -20x 0 0 0;
  padding: 2px;
}

.npref-event_type {
  width: 300px;
  text-align: left;
}

.npref-notifier {
  width: 150px;
  text-align: center;
}

.npref-scope {
  width: 150px;
  text-align: center;
}

.npref-active {
  width: 120px;
  text-align: center;
}

.npref-action {
  width: 150px;
}

.np-table thead th {
  border-bottom: solid black 1px;
}

#noti_div, #no_noti {
  float: right;
  text-align: center;
  /* background: url("notification32.png") no-repeat center; */
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: black;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}

.update-col {
  padding: 3px 0 3px 0px;
}

.np-table thead th, .noti-header {
  border-bottom: solid black 1px;
  font-weight: bold;
  padding-left:10px;
}
