form div aside {
	margin-left: 5%;
	margin-right: 20%;
	margin-bottom: 20px;
}

form div fieldset aside {
	margin-left: 5%;
	padding-bottom: 15px;
}

form div aside {
  font-style: italic;
  margin-bottom: 8px;
  font-size: small;
}

fieldset {
  padding: 0;
  margin: 0;
  margin: 10px;
}

legend {
  display: block;
  width: 90%;
  padding: 0;
  margin-bottom: 8px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 16px;
  line-height: 10px;
  color: #333333;
  border: 0;
  /* border-bottom: 1px solid #e5e5e5; */
  font-style:bold;
  font-color: darkgrey;
}

legend small {
  font-size: 15px;
  color: #999999;
}

form div h3 {
  margin-left: 30px;
}
form div h2 {
  margin-left: 10px;
}

.scheduling {
  background-color: #FFF28E !important;
}

select, input[type="file"] {
    height: auto;
}

.user-search {
  margin-top:-3px;
}
