<div class="liquid-methods">
  <ul>
    <% @liquid_methods.each do |key, value| %>
      <li>
        <%= key %>
        <ul>
          <% value.each do |akey, avalue| %>
            <li>
              <%= akey %>
              <% if avalue['type'].nil? %>
                (unknown type)
              <% elsif avalue['type'] == 'list' %>
                (a list of <%= avalue['member_type'] %> objects)
              <% else %>
                (<%= avalue['type'] %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>