<div id="email_templates_form">
<%= form_for(@email_template) do |f| %>

  <div class="well-tzippy">
    <% if @email_template.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

        <ul>
        <% @email_template.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row-fluid">
      <dl class="span12 dl-horizontal">
        <dt><%= f.label :name , :class => 'required-field' %></dt>
        <dd><%= f.text_field :name, :class => 'input-xlarge', :required => true %></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span12 dl-horizontal">
        <dt><%= f.label :subject, :class => 'required-field'  %></dt>
        <dd><%= f.text_field :subject, :class => 'input-xxlarge', :required => true  %></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span12 dl-horizontal">
        <dt><%= f.label :body, :class => 'required-field'  %></dt>
        <dd><%= f.text_area :body, :class => 'input-xxlarge', :required => true  %></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span12 dl-horizontal">
        <dt><%= f.label :multiple %></dt>
        <dd><%= f.check_box :multiple %></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span12 dl-horizontal">
        <dt><%= f.label :system_stats %></dt>
        <dd><%= f.check_box :system_stats %></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="span12 dl-horizontal">
        <dt><%= f.label :active %></dt>
        <dd><%= f.check_box :active %></dd>
      </dl>
    </div>
  </div>
  <%= render 'layouts/save_cancel' , :link_path => email_templates_path, :submit_text => 'Save' %>

<% end %>
</div>

<div id="email_templates_docs" class="draggable-help">
  <h4>Known variables for context</h4>
  <%= render 'email_templates/docs' %> 
</div>
