<!-- app/views/email_templates/index.html.erb -->
<div  class="data-content data-content-medium">
<%= render 'layouts/home_button' %>
<h1 class="manage-title">Email Templates</h1>

<% if can? :create, EmailTemplate %>
  <div class="btn-toolbar toolbar-2nd pull-right">
    <%= link_to 'Add New Email Template', new_email_template_path, :class => 'btn btn-link btn-small pull-right' %>
  </div>
<% end %>
<br><br>
<div class="well-tzippy">
  <table id="email_templates" class="table-striped datatable" data-source="<%= email_templates_url(format: "json") %>">
    <thead>
      <tr>
        <th data-col="name"         class="span3">Name</th>
        <th data-col="subject"      class="span7">Subject</th>
        <th data-col="active"       class="span1 active-label">Active</th>
        <th data-col="action_links" class="span1 actions-label"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>
