<!-- app/views/email_templates/edit.html.erb -->

<div  class="data-content data-content-medium">
<%= render 'layouts/home_button' %>
<h1 class="manage-title">New Email Template</h1>

<%= render 'form' %>
</div>
