<!-- app/views/reports/index.html.erb -->
<script type="text/javascript">
  var reports_url = "<%= reports_url %>";
</script>

<div class="row" style="margin-left:25px">
<%= render 'layouts/home_button' %>
  <h1 class="manage-title">Instruction Summary</h1>
</div>

<div class="row-fluid">
  <ul id="reports-filters" class="nav nav-pills filter-list">
    <li class="pillbox-label">Filters:</li>
    <%= filter_button 'Active',        'active',      'All non-archived requests' %>
    <%= filter_button 'All',           'not_deleted', 'All - both non-archived and archived' %>
    <%= filter_button 'Archived',      'archived',    'Archived requests only' %>
    </li>
  </ul>
</div>

<% if logged_in? %>
<div class="container-reportdiv">

  <div id="baseDateControl">
    <div class="dateControlBlock">
      <em> Between </em>
      <div id="datetimepicker_report_start" class="input-append date">
        <input type="text" value="<%= one_year_ago_str %>" data-date-format="mm/dd/yyyy'"   name="dateStart" id="dateStart" ></input>
        <span class="add-on" style="padding:0">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
        </span>
      </div>
      <em> and </em>
      <div id="datetimepicker_report_end" class="input-append date">
        <input type="text" value="<%= tomorrow_str %>" data-date-format="mm/dd/yyyy" name="dateEnd" id="dateEnd" ></input>
        <span class="add-on" style="padding:0">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="datatable-component report">
    <table id="reports" class="table-striped" data-source="<%= reports_url(format: "json") %>">
      <thead>
        <tr>
          <th data-col="format_created_date"               class="span2">Submitted</th>
          <th data-col="format_id"                         class="span1">SID</th>
          <th data-col="contact_user_name"                 class="span2">Faculty/GSI</th>
          <th data-col="contact_email"                     class="span3">Faculty/GSI email</th>
          <th data-col="title"                             class="span4">Title</th>
          <th data-col="format_course"                     class="span3">Course</th>
          <th data-col="requester_user_name"               class="span3">Requested By</th>
          <th data-col="instructors_for_report"            class="span4">Lib Instructor</th>
          <th data-col="get_stats"                         class="span3">Unit</th>
          <th data-col="format_date"                       class="span2">Date</th>
          <th data-col="workshops_statistics_participants" class="span1">Participants</th>
          <th data-col="format_phys_items"                 class="span1">Used Phys Items</th>
          <th data-col="workshops_session_type"            class="span4">Session Type</th>
          <th data-col="session_type_options"              class="span4">Session Type Options</th>
          <th data-col="location_name"                     class="span4">Location</th>
          <th data-col="workshops_statistics_notes"        class="span4">Lib Inst. Notes</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div></div>

<% end %>

<div id="modal" style="display:none;"></div>
