<!-- app/views/workshop_events/index.html.erb  -->
<% if @total_count > @page_size %>
  <div class="pagination events-pager">
    <ul>
      <% if @page_num > 0 %>
        <li><%= link_to "First", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "0", :page_size => "#{@page_size}") %></li>
        <li><%= link_to "Prev", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "#{@page_num - 1}", :page_size => "#{@page_size}") %></li>
      <% else %>
         <li class="disabled"><%= link_to "First", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "0", :page_size => "#{@page_size}") %></li>
        <li class="disabled"><%= link_to "Prev", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "#{@page_num - 1}", :page_size => "#{@page_size}") %></li>
     <% end %>

      <% 0.upto @last_page do |n| %>
        <% if n == @page_num %>
          <li class="active"><%= link_to "#{n + 1}", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "#{n}", :page_size => "#{@page_size}") %></li>
        <% else %>
          <li><%= link_to "#{n + 1}", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "#{n}", :page_size => "#{@page_size}") %></li>
        <% end %>
      <% end %>

      <% if @page_num < @last_page %>
        <li><%= link_to "Next", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "#{@page_num + 1}", :page_size => "#{@page_size}") %></li>
        <li><%= link_to "Last", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_num => "#{@last_page}", :page_size => "#{@page_size}") %></li>
      <% else %>
        <li class="disabled"><%= link_to "Next", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_size => "#{@page_num }", :page_size => "#{@page_size}") %></li>
        <li class="disabled"><%= link_to "Last", "#", 'data-url' => workshop_workshop_events_url(@workshop, :page_size => "#{@last_page}", :page_size => "#{@page_size}") %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="accordian" id="event-log">
  <% if @events.blank? %>
    <div>
      No recent activity.
    </div>
  <% else %>
    <% @events.each do |event| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#event-log" href="#collapse<%= event.id %>">
            <strong><%= event.title %> </strong>
  <!--           <%= event.try('user').try('display_name') %> -->
            <span class="pull-right"><small><%= time_ago_in_words event.timestamp %> ago</small></span>
          </a>
        </div>

        <div id="collapse<%= event.id %>" class="accordion-body collapse" style="background-color: #FCFFCD">
          <div class="accordion-inner">
            <ul>
              <% if event.items.blank? %>
                <li>Unknown error</li>
              <% else %>
                <li>
                  <P style="margin-bottom: 0px">
                    <small><em><%= event.user.try(:display_name) || 'System' %></em></small>
                    <span class="pull-right"><small><%= short_day_display(event.created_at) %> <%= simple_time(event.created_at) %></small></span>
                  </p>
                </li>
                <% event.items.drop(1).each do |item| %>
                  <li>
                    <% if event.items.length > 1 %>
                      <% if item.split('*')[1] %>
                        <% item = massage_item(item) %>
                        <span class="span3"><%= item.split('*')[0] %></span>
                        <span class="span7"><%= item.split('*')[1] %></span>
                      <% else %>
                        <span class="span10"><%= item.split('*')[0] %></span>
                      <% end %>
                    <% else %>
                      <span class="span10"><%= event.title %></span>
  <!--                   <li><%= item %></li> -->
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
