<!-- app/views/locations/_form.html.erb -->

<%= form_tag( @submit_form_path, :multipart => true, :method => @submit_form_method ) do |f| %>

<div class="row well-tzippy">
  <span class="legend">Room Information</span>

  <div class="row-fluid">
    <dl class="span5 dl-horizontal">
      <dt><%= label_tag 'location[name]', 'Room' , :class => 'required-field' %></dt>
      <dd><%= text_field_tag "location[name]", @location.name, :id => 'location.name', :required => true %></dd>
    </dl>
    <dl class="span3 offset1 dl-horizontal">
      <dt>Building</dt>
      <dd><%= text_field_tag "location[building]", @location.building, :id => 'location.building' %></dd>
    </dl>

  </div>

  <div class="row-fluid">
    <dl class="span3 dl-horizontal">
       <dt><%= label_tag 'location[seats]', 'Number of Seats' %></dt>
      <dd><%= text_field_tag "location[seats]", @location.seats, :id => 'location.seats' , :class => 'input-mini' %></dd>
    </dl>
  </div>
  <div class="row-fluid">
    <dl class="span3 dl-horizontal">
      <dt># of Computers</dt>
      <dd><%= text_field_tag "location[computers]", @location.computers, :id => 'location.computers' , :class => 'input-mini' %></dd>
    </dl>
  </div>
  <div class="row-fluid">
    <dl class="span3 dl-horizontal">
      <dt><%= label_tag 'location[computer_type]', 'Computer Type' %></dt>
      <dd><%= select("location", "computer_type",
            { 'PC' => 'PC',
              'Mac' => 'Mac',
              'Mix' => 'Mix',
              'Other' => 'Other'}, :class => 'input-mini') %>
      </dd>
    </dl>
  </div>

  <div class="row-fluid">
    <dl class="span4 dl-horizontal">
      <dt><%= label_tag 'location[calendar_url]', 'Room Calendar ID' %></dt>
      <dd><%= text_field_tag "location[calendar_url]", @location.calendar_url, :id => 'location.calendar_url', :class => 'input-xxlarge' %></dd>
    </dl>
  </div>

  <div class="field">
    <dl class="dl-horizontal">
      <dt><%= label_tag 'location[directions]', 'Directions to Room' %></dt>
      <dd><%= text_area_tag "location[directions]", @location.directions, :id => 'location.directions', :class => 'input-xxlarge', :rows => 2 %></dd>
    </dl>
  </div>

  <div class='row-fluid'>
    <dl class="span4 dl-horizontal">
      <dt><%= label_tag 'location[active]', 'Active Room' %></dt>
      <dd><%= check_box('location', 'active', :title => 'Inactive rooms do not show up as a room choice when scheduling') %></dd>
    </dl>
  </div>
</div>
<br>

<div class="row well-tzippy">
  <span class="legend">Support Information for This Room</span>
  <br><br>
  <div class='form-inline span4'>
    <p><%= label_tag "location[support_phone]", 'Support Phone'%>
    <%= text_field_tag "location[support_phone]", @location.support_phone, :id => 'location.support_phone', :class => 'input-medium'   %>
  </div>
  <div class="form-inline span6">
    <p><%= label_tag "location[support_email]", 'Support email'%>
      <%= text_field_tag "location[support_email]", @location.support_email, :id => 'location.support_email', :class => 'input-xlarge'  %>
    </p>
  </div>
  <br>
  <span class="required-field required-field-note "></span>
</div>

<%= render 'layouts/save_cancel' , :link_path => locations_path, :submit_text => 'Save' %>

<% end %>
