<!-- app/views/locations/edit.html.erb -->

<div class="data-content data-content-medium">
<%= render 'layouts/home_button' %>
<h1 class="manage-title">Edit Location</h1>

<%= render 'form' %>
</div>
