<div class="data-content data-content-large">
  <%= render 'layouts/home_button' %>
  <h1 class = "manage-title">Locations</h1>

  <div class="btn-toolbar toolbar-2nd pull-right" style="margin-right:-13px">
    <%= link_to "Add a new Location", new_location_path, :class => 'btn btn-link btn-small pull-right' %>
  </div>

  <ul id="locations-filters" class="nav nav-pills filter-list">
    <li class="pillbox-label">Filters: </li>
    <%= filter_button 'All',      'all',      'All locations' %>
    <%= filter_button 'Active',   'active',   'Only active locations', true %>
    <%= filter_button 'Inactive', 'archived', 'Only in-active locations'    %>
    </li>
  </ul>

  <div class="well-tzippy">
    <table id="locations" class="table-striped datatable" data-source="<%= locations_url(format: "json") %>"
      summary="List of Rooms that can be assigned">
      <thead>
        <tr>
          <th data-col="name"           class="span4">Room Name</th>
          <th data-col="building"       class="span3">Location</th>
          <th data-col="seats"          class="span1">Seats</th>
          <th data-col="computers"      class="span2">Comp</th>
          <th data-col="support_phone"  class="span2">Phone</th>
          <th data-col="support_email_link"  class="span2">Email</th>
          <th data-col="active"         class="span1 active-label">Active</th>
          <th data-col="action_links"   class="span1 actions-label"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>


