<footer class="footer" >

	<div class="eval-container">
		<p></p>
		<hr class="hr-footer"/>
		<p></p>
		<div class="footer">
		<span ><%= link_to "University of Michigan", 'http://www.umich.edu', :target => "_blank" %></span> |
		<span >Questions? Email <%= mail_to "exploratory@umich.edu" , "exploratory@umich.edu", :class => 'email-text' %></span>
	</div>
  </div>

</footer>
