<footer class="footer" >
		<hr class="hr-section"/>
		<span ><%= link_to "University of Michigan", 'http://www.umich.edu', :target => "_blank" %></span> |
		<span ><%= link_to "UM Library", 'http://www.lib.umich.edu', :target => "_blank" %></span> |
		<span ><%= link_to "UM Library Instruction/Workshops",
				'http://www.lib.umich.edu/instruction-and-workshops', :target => "_blank" %></span> |
		<span ><%= link_to "About",   about_path %></span> |
		<span ><%= mail_to "libschedulers@umich.edu", "Questions?" %></span> |
		<span ><small>v1.0</small></span>
</footer>
