<header class="container-fluid">
  <nav role="navigation">
    <div class="row-fluid">
      <div class="span2" >
        <%= link_to image_tag("MLibLogo-color-inst.png", alt: "MLibrary", id: "lib-logo"), workshops_path , title: "Return to main dashboard"%>
      </div>

      <% if logged_in? %>

        <ul id="user-menu" class="pull-right">
          <li>
            <%= link_to "Log out", logout_path %>
          </li>

          <li class="inline">
            <em id="my-id"> <%= current_user.uniqname %> </em>

          <% if can? :schedule, Workshop %>
            <div class="btn-group">
              <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                 title="Set up user profile information" >
                  <em class="icon-user"></em><b class="caret"></b>
              </a>
              <ul class="dropdown-menu pull-right">
                <li> <%= link_to "Preferences", options_user_path(current_user) %></li>
              </ul>
            </div>

          <% end %>

          </li>
        </ul>

      <% end %>
    </div>
  </nav>
<% if logged_in? %>
  <div id="app-toolbar" class="btn-toolbar row-fluid">
    <%= link_to "Request New Instruction Session", new_workshop_path, :class => 'btn btn-primary btn-small request-btn' %>
    <% if can? :read, :reports %>
      <div class="btn-group">
        <%= link_to "Instruction Report", reports_path , :class => "btn btn-link" %>
      </div>
    <% end %>

    <% if can? :maintain, :any %>
      <div class="btn-group">
        <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">Admin Maintenance<span class="caret"></span></a>
        <ul class="dropdown-menu">
<!--           <% if can? :maintain, EmailTemplate %>
            <li><%= link_to 'Email Templates', email_templates_path %></li>
          <% end %> -->
          <% if can? :maintain, Evaluation %>
            <li><%= link_to "Evaluations", evaluations_path %></li>
          <% end %>
          <% if can? :maintain, Registration %>
            <li><%= link_to "Registrations", registrations_path %></li>
          <% end %>
          <% if can? :maintain, Location %>
            <li><%= link_to "Room Locations", locations_path  %></li>
          <% end %>
          <% if can? :maintain, Topic %>
            <li><%= link_to "Topic Categories", topic_categories_path %></li>
            <li><%= link_to "Topics", topics_path %></li>
          <% end %>
          <% if can? :maintain, Unit %>
            <li><%= link_to "Unit Choices", units_path %></li>
          <% end %>
          <% if can? :maintain, User %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <% if can? :maintain, SessionSubChoice %>
            <li><%= link_to "Session Type Option Choices", session_sub_choices_path %></li>
          <% end %>
          <% if can? :update, EmailTemplate %>
            <li><%= link_to "Email Templates", email_templates_path %></li>
          <% end %>
          <li class="divider"></li>
          <li><%= link_to "WorkShops", workshops_path  %></li>
        </ul>
      </div>
    <% end %>

   <% if can? :schedule, Workshop %>
      <% if @client.present? %>
        <% if @client.authorization.nil? || @client.authorization.access_token.nil? %>
          <div class="btn-group">
            <%= link_to "Grant Calendar Access", calendars_grant_access_path(:state => request.original_url), :class => "btn btn-link" %>
          </div>
        <% else %>
          <div class="btn-group">
            <%= link_to "Revoke Calendar Access", calendars_revoke_access_path(:state => request.original_url, '_rtime' => Time.now.to_i), :class => "btn btn-link" %>
          </div>
        <% end %>
      <% end %>
      <div class="btn-group">
        <%= link_to "Recent Email", comments_url, :class => "btn btn-link" %>
      </div>
    <% end %>
    <% if can? :claim, Workshop %>
      <div class="btn-group">
        <%= link_to "Recent Eval List", recent_url, :title => "Link to the Recent Eval list page that provides links to evals for the last 10 days of sessions", :class => "btn btn-link" %>
      </div>
<!--       just show the help page on dashboard, new and edit pages -->
      <% if request.path.end_with?('workshops') || request.path.end_with?('admin/') ||
            ( request.path.include?('workshops') && (request.path.include?('new') || request.path.include?('edit')) ) %>
        <div class=" btn-group">
          <%= link_to "Help", 'https://docs.google.com/a/umich.edu/document/d/1kj6B8AZgWFfAFsybHMtCh055kzK6rb1tN0tJ0kmV0ts/edit',
           :class => "instructor_help btn btn-link" %>
        </div>
      <% end %>
    <% end %>

   <% if can? :schedule, Workshop %>
      <div class="span1" id="noti_div" style="display:none;">
          <%= link_to "<span class='unseen_update_count badge badge-error'>#{@unseen_update_count || 0}</span>".html_safe, user_updates_url(current_user),
          :class => "btn btn-link user_updates",
          :title => "View recent notifications according to your user preferences",
          :data => { :timeout => 15000, :url => user_updates_url(current_user) } %>
      </div>

      <div class="span1" id="no_noti" style="display:none;">
          <%= link_to "<span class='unseen_update_count badge'>0</span>".html_safe, user_updates_url(current_user),
          :class => "btn btn-link user_updates",
          :title => "View recent notifications according to your user preferences",
          :data => { :timeout => 15000, :url => user_updates_url(current_user) } %>
      </div>
    <% end %>

  </div>

  <hr class="hr-section" />
<% end %>
</header>


