 <div class="btn-toolbar pull-left">
    <%= link_to '<i class="icon-home"></i> Dashboard'.html_safe, workshops_path, style: 'color:black', class: 'btn btn-mini btn-info',:title => 'Return to main dashboard' %>
  </div>
  <br/><br/>
