  

  <% if @show_manage_pager.present? && @show_manage_pager == true %> 
    <% unless @prev_link.nil? && @next_link.nil? %>
      <div id="sched-pager" >
        <small>
        <span><%= @pg_index + 1 %> of <%= @pg_count %></span>
        <div  class="btn-group">
          <% if @prev_link.nil? %>
            <%= link_to " < Prev ", "#", :class => "btn btn-mini disabled", :disabled => "disabled" %>
          <% else %>
            <%= link_to " < Prev ", @prev_link, :class => "btn btn-mini active" %>
          <% end %>

          <% if @next_link.nil? %>
            <%= link_to " Next > ", "#", :class => "btn btn-mini disabled", :disabled => "disabled" %>
          <% else %>
            <%= link_to " Next > ", @next_link, :class => "btn btn-mini active" %>
          <% end %>
        </div>
      </small>
      </div>
    <% end %>
  <% end %>