<footer class="container">
  <hr class="hr-section"/>

    <%= link_to "University of Michigan", 'http://www.umich.edu', :target => "_blank" %>
    <span class="link-pipe">|</span>
    Questions? Email <%= mail_to "exploratory@umich.edu" , "exploratory@umich.edu", :class => 'email-text' %>

</footer>
