<!-- app/views/layouts/_public_header.html.erb -->

<header class="container">
  <%= link_to image_tag("MLibLogo-color-inst.png", alt: "MLibrary"),
  	 "http://www.lib.umich.edu/instruction-and-workshops" , title: "MLibrary Instruction Site", id: "mlibrarylogo" %>

  <h1 class="evaluation-text text-center">University Library Instruction Session Evaluations</h1>

  <h2 class="evaluation-text-info text-center">Available Evaluations - Last 10 days only</h2>
  <p class="text-center"><em>Please find your session below and click the title to fill out an evaluation</em></p>
</header>

