<!-- app/views/layouts/_save_cancel.html -->

<!--    this is passed in the link_to url and the text to show on the 'save' button -->
    <div class="btn-toolbar">
      <%= submit_tag submit_text, :class => 'btn btn-mini btn-primary btn-save' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),link_path, :class => 'btn btn-mini btn-primary' %>
    </div>
