<!-- layouts/_ws_pager.html.erb --> 
<div class="ws-pager" style="display: none;">
  <span class="ws-pager-counter smaller-italic">
    <span class="ws-pager-index">0</span> of <span class="ws-pager-count">X</span>
  </span>
  <div  class="btn-group">
    <a href="#" class="btn btn-mini ws-pager-first">&lt;&lt; First</a>
    <a href="#" class="btn btn-mini ws-pager-prev">&lt; Prev</a>
    <a href="#" class="btn btn-mini ws-pager-next">Next &gt;</a>
    <a href="#" class="btn btn-mini ws-pager-last">Last &gt;&gt;</a>
  </div>
  <input type="hidden" class="ws-pager-current" value="<%= @workshop.id %>" data-url="<%= @pager_base_path %>" />
</div>
