<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <title><%= @head_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "init" %>
  <%= csrf_meta_tags %>
</head>
  <body id="body" >
    <%= yield(:body).presence || yield %>
  </body>
  <%= javascript_include_tag "application" %>
  <%= render "shared/user_preferences" %>
</html>
