<% content_for(:body) do %>
    <%= render 'layouts/public_header' %>
    <div class="container">
      <div class="data-content data-content-medium">
        <%= render partial: 'layouts/flash', :locals => {:flash => flash} %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/public_footer' %>
<% end %>

<%= render template: "layouts/application" %>