<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workshops</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body id="body">

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= render 'layouts/evaluation_header' %>
    <div class="container-fluid data-content data-content-medium">
      <%= yield %>
    </div>
    <%= render 'layouts/evaluation_footer' %>

  </body>
</html>
