<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workshops</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "shared/user_preferences" %>
</head>
  <body id="body">
    <!-- please move class="container datatable-component" to the div containing the tables -->
    <%= render 'layouts/header' %>
    <div style="margin-left:25px">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div  style="margin-left:-25px">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>