<% content_for(:body) do %>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="container-fluid data-content data-content-large">
        <%= render partial: 'layouts/flash',  :locals => {:flash => flash} %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
<% end %>
<%= render template: "layouts/application" %>